Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

Path conditions:
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, pipelines/website.yaml

logging the health
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

exception handling for health
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

health retries
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

patching delete service
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

trying to deploy two
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

pushed into folder
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

making the missing directory
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

switching variable format
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

moved clean up
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

fixed corrent state condition
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

patched quotes
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

breaking blob connection string
  pipelines/recreate-service.yml
Due: none

added sucess condition
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

fixed broken string
  pipelines/recreate-service.yml
Due: none

rolled back to working health check
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

switched website to development stage
  pipelines/website.yaml
Due: pipelines/website.yaml

website compile
  pipelines/website.yaml
Due: pipelines/website.yaml

deploy to blob
  pipelines/website.yaml
Due: pipelines/website.yaml

using windows for az copy
  pipelines/website.yaml
Due: pipelines/website.yaml

switched compile to windows
  pipelines/website.yaml
Due: pipelines/website.yaml

adding azure copy 4
  pipelines/website.yaml
Due: pipelines/website.yaml

published
  pipelines/website.yaml
Due: pipelines/website.yaml

display all
  pipelines/website.yaml
Due: pipelines/website.yaml

downloading packed
  pipelines/website.yaml
Due: pipelines/website.yaml

fixed download
  pipelines/website.yaml
Due: pipelines/website.yaml

removed compression
  pipelines/website.yaml
Due: pipelines/website.yaml

uncommented copy code
  pipelines/website.yaml
Due: pipelines/website.yaml

console app to deploy to blob storage
  pipelines/website.yaml
  src/Socially.Utils.SimpleAzCopy/Program.cs
  src/Socially.Utils.SimpleAzCopy/Socially.Utils.SimpleAzCopy.csproj
Due: pipelines/android.yaml, pipelines/website.yaml

fixed working directory
  pipelines/website.yaml
Due: pipelines/website.yaml

parameter
  pipelines/website.yaml
Due: pipelines/website.yaml

fixed paths
  src/Socially.Utils.SimpleAzCopy/Program.cs
  src/Socially.sln
Due: pipelines/android.yaml

added blob logging
  src/Socially.Utils.SimpleAzCopy/Program.cs
Due: pipelines/android.yaml

mapped extensions
  src/Socially.Utils.SimpleAzCopy/Program.cs
  src/Socially.Utils.SimpleAzCopy/Socially.Utils.SimpleAzCopy.csproj
Due: pipelines/android.yaml

fixed the uploads
  pipelines/website.yaml
  src/Socially.Utils.SimpleAzCopy/Program.cs
Due: pipelines/android.yaml, pipelines/website.yaml

fixed missing extensions
  src/Socially.Utils.SimpleAzCopy/Program.cs
Due: pipelines/android.yaml

picker clean up
  src/Socially.Website/Components/UserImagesPicker.razor
Due: pipelines/android.yaml, pipelines/website.yaml

publishing output
  pipelines/android-deploy.yaml
Due: none

fixing path
  pipelines/android-deploy.yaml
Due: none
