Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

pipelines/android.yaml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    displayName: Build App
    jobs:
    - job: XamarinCompile
      displayName: Building xamarin android
      steps:
      - task: file-creator@5
        displayName: Create config file
        inputs:
          filepath: $(configPath)
  ...

pipelines/api-CI.yaml:
  pool:
    vmImage: ubuntu-18.04
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk
    inputs:
      packageType: sdk
      version: 5.0.100-preview.2.20176.6
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@1
    displayName: Tests for API
    inputs:
      command: test
  ...

pipelines/webAPI.yaml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: Shared\netcore-ubuntu.yml@templates
    parameters:
      useVersion: 6.0.301
      projectPath: src/Socially.WebAPI
      projectName: Socially.WebAPI
      destDirectory: /var/www/socially
      port: 5030
      service:
        description: Socially API
  ...

pipelines/website.yaml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: Shared\netcore-ubuntu.yml@templates
    parameters:
      useVersion: 6.0.301
      projectPath: src/Socially.Website
      projectName: Socially.Website
      destDirectory: /var/www/sociallySite
      port: 5075
      service:
  ...

get image integration tests
  src/Socially.Server.Managers/ImageManager.cs
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI.IntegrationTests/ImageTests.cs
  src/Socially.WebAPI/Endpoints/ImagesEndpoints.cs
  src/Socially.WebAPI/Services/IImagesService.cs
  src/Socially.WebAPI/Services/ImagesService.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

image upload UI
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.Apps.Consumer/Utils/ModelExtensions.cs
  src/Socially.Server.DataAccess/BlobAccess.cs
  src/Socially.Server.DataAccess/IBlobAccess.cs
  src/Socially.Server.DataAccess/Migrations/20220911082658_Images.Designer.cs
  src/Socially.Server.DataAccess/Migrations/20220911082658_Images.cs
  src/Socially.Server.Managers/IImageManager.cs
  src/Socially.Server.Managers/ImageManager.cs
  src/Socially.WebAPI/Endpoints/ImagesEndpoints.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/ImagesService.cs
  src/Socially.WebAPI/Services/InitializeService.cs
  src/Socially.Website/Components/UserImagesComponent.razor
  src/Socially.Website/Components/UserImagesComponent.razor.cs
  src/Socially.Website/Pages/Account/EditAccount.razor
  src/Socially.Website/Socially.Website.csproj
  src/Socially.Website/_Imports.razor
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

functional add
  src/Socially.Website/Components/UserImagesComponent.razor
  src/Socially.Website/Components/UserImagesComponent.razor.cs
  src/Socially.Website/Utils/JsConnectExtensions.cs
  src/Socially.Website/wwwroot/js/inter-act.js
Due: pipelines/android.yaml, pipelines/website.yaml

tested delete
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.Server.Managers.Tests/ImageManagerTests.cs
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI.IntegrationTests/ImageTests.cs
  src/Socially.WebAPI.IntegrationTests/TestsBase.cs
  src/Socially.WebAPI.IntegrationTests/Utils/ConsumerExtensions.cs
  src/Socially.WebAPI/Endpoints/ImagesEndpoints.cs
  src/Socially.WebAPI/Services/IImagesService.cs
  src/Socially.WebAPI/Services/ImagesService.cs
  src/Socially.Website/Components/UserImagesComponent.razor
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

images reversed
  src/Socially.Server.Managers.Tests/ImageManagerTests.cs
  src/Socially.Website/Components/UserImagesComponent.razor
  src/Socially.Website/Components/UserImagesComponent.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

profile picture setting
  src/Socially.Core/Entities/ProfileImage.cs
  src/Socially.Core/Entities/User.cs
  src/Socially.Core/Models/ProfileUpdateModel.cs
  src/Socially.Server.DataAccess/Migrations/20220914025459_ProfilePic.Designer.cs
  src/Socially.Server.DataAccess/Migrations/20220914025459_ProfilePic.cs
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.Website/Components/UserImagesComponent.razor
  src/Socially.Website/Components/UserImagesComponent.razor.cs
  src/Socially.Website/Pages/Account/EditAccount.razor
  src/Socially.Website/Pages/Account/EditAccount.razor.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

image removal
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.Website/Components/UserImagesComponent.razor.cs
  src/Socially.Website/Pages/Account/EditAccount.razor
  src/Socially.Website/Pages/Account/EditAccount.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

image upload setup
  pipelines/webAPI.yaml
  src/Socially.Utils.MigrationConsole/Program.cs
  src/Socially.Utils.MigrationConsole/Socially.Utils.MigrationConsole.csproj
  src/Socially.Website/Pages/Account/EditAccount.razor
  src/Socially.Website/wwwroot/css/app.css
  src/Socially.sln
Due: pipelines/android.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

structured validation
  pipelines/validation.yaml
Due: none

fixed image upload
  src/Socially.Website/Components/UserImagesComponent.razor
  src/Socially.Website/Components/UserImagesComponent.razor.cs
  src/Socially.Website/Pages/Account/EditAccount.razor
  src/Socially.Website/Pages/Account/EditAccount.razor.cs
  src/Socially.Website/wwwroot/appsettings.Local.json
  src/Socially.Website/wwwroot/appsettings.Production.json
Due: pipelines/android.yaml, pipelines/website.yaml

trying detailed tests
  pipelines/validation.yaml
Due: none

testing the tests
  pipelines/validation.yaml
  src/Socially.Server.Managers.Tests/ImageManagerTests.cs
Due: pipelines/android.yaml

fixing test result output
  .gitignore
  pipelines/validation.yaml
Due: none

removed space
  pipelines/validation.yaml
Due: none

without release
  pipelines/validation.yaml
Due: none

location forced
  pipelines/validation.yaml
Due: none

directories patch up
  pipelines/validation.yaml
Due: none

fixed path
  pipelines/validation.yaml
Due: none

using dotnet CLI
  pipelines/validation.yaml
Due: none

using dotnet CLI through out
  pipelines/validation.yaml
Due: none

image on menu
  src/Socially.Website/Shared/MainLayout.razor
  src/Socially.Website/Shared/MainLayout.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

fixed theming
  src/Socially.Website/wwwroot/index.html
  src/Socially.Website/wwwroot/js/scripts.js
  src/Socially.Website/wwwroot/js/theme.js
  src/Socially.Website/wwwroot/js/utils.js
Due: pipelines/android.yaml, pipelines/website.yaml

getting back show password functionality
  src/Socially.Website/wwwroot/js/scripts.js
Due: pipelines/android.yaml, pipelines/website.yaml

seperate entity and model
  src/Socially.Apps.Consumer/Socially.Apps.Consumer.csproj
  src/Socially.Core/Socially.Core.csproj
  src/Socially.Model/ErrorModel.cs
  src/Socially.Model/Exceptions/BadRequestException.cs
  src/Socially.Model/ForgotPasswordModel.cs
  src/Socially.Model/ImageUploadModel.cs
  src/Socially.Model/LoginModel.cs
  src/Socially.Model/PasswordResetModel.cs
  src/Socially.Model/ProfileSummary.cs
  src/Socially.Model/ProfileUpdateModel.cs
  src/Socially.Model/SignUpModel.cs
  src/Socially.Model/Socially.Model.csproj
  src/Socially.Model/TokenRenewRequestModel.cs
  src/Socially.Model/TokenResponseModel.cs
  src/Socially.Model/UploadContext.cs
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Entities/ProfileImage.cs
  src/Socially.Server.Entities/Socially.Server.Entities.csproj
  src/Socially.Server.Entities/User.cs
  src/Socially.Server.Entities/UserRefreshToken.cs
  src/Socially.Server.Entities/UserRole.cs
  src/Socially.Server.Managers/Socially.Server.Managers.csproj
  src/Socially.Server.Services/Socially.Server.Services.csproj
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.sln
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

adding comments
  src/Socially.Models/AddCommentModel.cs
  src/Socially.Models/AddPostModel.cs
  src/Socially.Server.DataAccess/ApplicationDbContext.cs
  src/Socially.Server.Entities/Comment.cs
  src/Socially.Server.Entities/Post.cs
  src/Socially.Server.Managers.Tests/PostsManagerTests.cs
  src/Socially.Server.Managers/PostsManager.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

functioning add and update mongo sample
  src/Socially.Models/AddCommentModel.cs
  src/Socially.Server.DataAccess/ApplicationDbContext.cs
  src/Socially.Server.DataAccess/BlobAccess.cs
  src/Socially.Server.DataAccess/CosmosAccess.cs
  src/Socially.Server.DataAccess/IBlobAccess.cs
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Entities/Comment.cs
  src/Socially.Server.Entities/NoSql/Comment.cs
  src/Socially.Server.Entities/NoSql/Post.cs
  src/Socially.Server.Entities/Post.cs
  src/Socially.Server.Managers/Exceptions/RequiredDataNotFoundException.cs
  src/Socially.Server.Managers/PostsManager.cs
  src/Socially.Utils.SamplerConsole/Program.cs
  src/Socially.Utils.SamplerConsole/Socially.Utils.SamplerConsole.csproj
  src/Socially.WebAPI/Program.cs
  src/Socially.sln
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

unit tested posts
  src/Socially.Models/AddCommentModel.cs
  src/Socially.Models/DisplayCommentModel.cs
  src/Socially.Models/PostDisplayModel.cs
  src/Socially.Server.DataAccess/ApplicationDbContext.cs
  src/Socially.Server.Entities/Comment.cs
  src/Socially.Server.Entities/NoSql/Comment.cs
  src/Socially.Server.Entities/NoSql/Post.cs
  src/Socially.Server.Entities/Post.cs
  src/Socially.Server.Managers.Tests/PostsManagerTests.cs
  src/Socially.Server.Managers/PostsManager.cs
  src/Socially.Server.ModelMappings/CommentMappingExtensions.cs
  src/Socially.Server.ModelMappings/Socially.Server.ModelMappings.csproj
  src/Socially.Utils.SamplerConsole/Program.cs
  src/Socially.sln
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

friend creation tested
  src/Socially.Models/FriendRequestExistsErrorModel.cs
  src/Socially.Models/UserSummaryModel.cs
  src/Socially.Server.DataAccess/ApplicationDbContext.cs
  src/Socially.Server.Entities/Friend.cs
  src/Socially.Server.Entities/FriendRequest.cs
  src/Socially.Server.Entities/Post.cs
  src/Socially.Server.Managers.Tests/FriendManagerTests.cs
  src/Socially.Server.Managers.Tests/PostManagerTests.cs
  src/Socially.Server.Managers.Tests/Traits/ActionTraitAttribute.cs
  src/Socially.Server.Managers/Exceptions/FriendRequestExistsException.cs
  src/Socially.Server.Managers/FriendManager.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.Utils.SamplerConsole/Program.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

friends and posts fix up
  src/Socially.Server.DataAccess/Migrations/20221001070728_PostsAndFriends.Designer.cs
  src/Socially.Server.DataAccess/Migrations/20221001070728_PostsAndFriends.cs
  src/Socially.Server.Entities/Friend.cs
  src/Socially.Server.Entities/User.cs
  src/Socially.Server.Managers.Tests/FriendManagerTests.cs
  src/Socially.Server.Managers.Tests/PostManagerTests.cs
  src/Socially.Server.Managers/FriendManager.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.Server.ModelMappings/Socially.Server.ModelMappings.csproj
  src/Socially.Server.ModelMappings/UserMappingExtensions.cs
  src/Socially.Utils.SamplerConsole/Program.cs
  src/Socially.Utils.SamplerConsole/Socially.Utils.SamplerConsole.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

tested likes
  src/Socially.Models/DisplayCommentModel.cs
  src/Socially.Models/PostDisplayModel.cs
  src/Socially.Server.DataAccess/ApplicationDbContext.cs
  src/Socially.Server.Entities/Comment.cs
  src/Socially.Server.Entities/Post.cs
  src/Socially.Server.Entities/PostLike.cs
  src/Socially.Server.Managers.Tests/PostManagerTests.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.Server.ModelMappings/CommentMappingExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

line clean up
  src/Socially.Server.Managers.Tests/PostManagerTests.cs
Due: pipelines/android.yaml

friend creation tests
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Server.Entities/FriendRequest.cs
  src/Socially.Server.Managers/FriendManager.cs
  src/Socially.Server.Managers/IFriendManager.cs
  src/Socially.Server.Managers/Socially.Server.Managers.csproj
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI.IntegrationTests/FriendTests.cs
  src/Socially.WebAPI.IntegrationTests/Utils/ConsumerExtensions.cs
  src/Socially.WebAPI/Endpoints/FriendEndpoints.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/CurrentContextProvider.cs
  src/Socially.WebAPI/Services/FriendsService.cs
  src/Socially.WebAPI/Services/ICurrentContextProvider.cs
  src/Socially.WebAPI/Services/IFriendsService.cs
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

tested friend requests
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Server.Entities/User.cs
  src/Socially.WebAPI.IntegrationTests/FriendTests.cs
  src/Socially.WebAPI/Endpoints/FriendEndpoints.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

tested search
  src/Socially.Models/Enums/UserFriendState.cs
  src/Socially.Models/SearchedUserModel.cs
  src/Socially.Server.Entities/User.cs
  src/Socially.Server.Managers.Tests/FriendManagerTests.cs
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/FriendManager.cs
  src/Socially.Server.Managers/IFriendManager.cs
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.WebAPI/Services/FriendsService.cs
  src/Socially.WebAPI/Services/IFriendsService.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

removed friend service
  src/Socially.Server.Managers.Tests/FriendManagerTests.cs
  src/Socially.Server.Managers.Tests/TestBase.cs
  src/Socially.Server.Managers/FriendManager.cs
  src/Socially.Server.Managers/IFriendManager.cs
  src/Socially.Server.Managers/IUserProfileManager.cs
  src/Socially.Server.Managers/Utils/CurrentContext.cs
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI.IntegrationTests/ImageTests.cs
  src/Socially.WebAPI/Endpoints/FriendEndpoints.cs
  src/Socially.WebAPI/Endpoints/UserEndpoints.cs
  src/Socially.WebAPI/Middlewares/CurrentSetupMiddleware.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/CurrentContextProvider.cs
  src/Socially.WebAPI/Services/FriendsService.cs
  src/Socially.WebAPI/Services/ICurrentContextProvider.cs
  src/Socially.WebAPI/Services/IFriendsService.cs
  src/Socially.WebAPI/Services/ImagesService.cs
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

posts with current context
  src/Socially.Server.Managers.Tests/PostManagerTests.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.WebAPI/Endpoints/FriendEndpoints.cs
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

post endpoints
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Server.Managers.Tests/PostManagerTests.cs
  src/Socially.Server.Managers/IPostManager.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.WebAPI.IntegrationTests/FriendTests.cs
  src/Socially.WebAPI/Endpoints/PostEndpoints.cs
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

posts integration tests
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Server.Entities/User.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.WebAPI.IntegrationTests/PostTests.cs
  src/Socially.WebAPI/Endpoints/PostEndpoints.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Utils/SystemExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

post addtion
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.Server.DataAccess/Migrations/20221016104750_CommentsAndLikes.Designer.cs
  src/Socially.Server.DataAccess/Migrations/20221016104750_CommentsAndLikes.cs
  src/Socially.Server.Managers/IPostManager.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.WebAPI/Endpoints/PostEndpoints.cs
  src/Socially.Website/Components/ProfilePictureIcon.razor
  src/Socially.Website/Components/ProfilePictureIcon.razor.cs
  src/Socially.Website/Pages/Profile/Profile.razor
  src/Socially.Website/Pages/Profile/Profile.razor.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/UserContext.cs
  src/Socially.Website/Shared/MainLayout.razor
  src/Socially.sln
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

Path conditions:
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, pipelines/website.yaml
