Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android-deploy.yaml, pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

Path conditions:
  pipelines/android-deploy.yaml: any of: src/Socially.MobileApp, pipelines/android-deploy.yaml
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, src/Socially.Utils.SimpleAzCopy, pipelines/website.yaml

fixed key not found exception
  src/Socially.Server.Managers.Tests/PostManagerTests.cs
  src/Socially.Server.Managers/PostManager.cs
Due: pipelines/android.yaml

updated to net 8
  src/Socially.Apps.Consumer/Socially.Apps.Consumer.csproj
  src/Socially.ClientUtils/Socially.ClientUtils.csproj
  src/Socially.Mobile.Logic.Generator/Socially.Mobile.Logic.Generator.csproj
  src/Socially.Mobile.Logic.Tests/Socially.Mobile.Logic.Tests.csproj
  src/Socially.Mobile.Logic/Socially.Mobile.Logic.csproj
  src/Socially.MobileApp.Generator/Socially.MobileApp.Generator.csproj
  src/Socially.Models/Socially.Models.csproj
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Entities/Socially.Server.Entities.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Server.Managers/Socially.Server.Managers.csproj
  src/Socially.Server.ModelMappings/Socially.Server.ModelMappings.csproj
  src/Socially.Utils.GeneratorCommon/Socially.Utils.GeneratorCommon.csproj
  src/Socially.Utils.MigrationConsole/Socially.Utils.MigrationConsole.csproj
  src/Socially.Utils.SamplerConsole/Socially.Utils.SamplerConsole.csproj
  src/Socially.Utils.SimpleAzCopy/Socially.Utils.SimpleAzCopy.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.Website/Socially.Website.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

mobile update
  src/Socially.MobileApp/Socially.MobileApp.csproj
  src/Socially.sln
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

added library
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

removing use dotnet for validations
  pipelines/runtest.yml
Due: none

fixed missing library for .net 8
  src/Socially.WebAPI/Socially.WebAPI.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

maui net 8 patch up
  pipelines/android-deploy.yaml
  pipelines/android.yaml
Due: pipelines/android-deploy.yaml
