Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

pipelines/android.yaml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    displayName: Build App
    jobs:
    - job: XamarinCompile
      displayName: Building xamarin android
      steps:
      - task: file-creator@5
        displayName: Create config file
        inputs:
          filepath: $(configPath)
  ...

pipelines/api-CI.yaml:
  pool:
    vmImage: ubuntu-18.04
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk
    inputs:
      packageType: sdk
      version: 5.0.100-preview.2.20176.6
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@1
    displayName: Tests for API
    inputs:
      command: test
  ...

pipelines/webAPI.yaml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: Shared\netcore-ubuntu.yml@templates
    parameters:
      useVersion: 6.0.301
      projectPath: src/Socially.WebAPI
      projectName: Socially.WebAPI
      destDirectory: /var/www/socially
      port: 5030
      service:
        description: Socially API
  ...

pipelines/website.yaml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: Shared\netcore-ubuntu.yml@templates
    parameters:
      useVersion: 6.0.301
      projectPath: src/Socially.Website
      projectName: Socially.Website
      destDirectory: /var/www/sociallySite
      port: 5075
      service:
  ...

post creation and delete
  src/Socially.Models/PostDisplayModel.cs
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/PostDisplay.razor
  src/Socially.Website/Components/PostDisplay.razor.cs
  src/Socially.Website/Pages/Profile/Profile.razor
  src/Socially.Website/Pages/Profile/Profile.razor.cs
  src/Socially.Website/Shared/MainLayout.razor
  src/Socially.Website/wwwroot/css/app.css
Due: pipelines/android.yaml, pipelines/website.yaml

dynamic comments
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Components/PostDisplay.razor
  src/Socially.Website/Services/CustomRoute.cs
  src/Socially.Website/wwwroot/css/app.css
Due: pipelines/android.yaml, pipelines/website.yaml

adding comments nexted
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/CommentsDisplay.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

comment deletion
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Components/PostDisplay.razor
  src/Socially.Website/Components/PostDisplay.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

fixed yaml to use latest .net 6
  pipelines/validation.yaml
  pipelines/webAPI.yaml
  pipelines/website.yaml
Due: pipelines/webAPI.yaml, pipelines/website.yaml

fixing versions on pipelines
  pipelines/validation.yaml
  pipelines/webAPI.yaml
  pipelines/website.yaml
Due: pipelines/webAPI.yaml, pipelines/website.yaml

added .net versions on both
  pipelines/validation.yaml
Due: none

testing pipelines
  pipelines/validation.yaml
Due: none

Update validation.yaml for Azure Pipelines
  pipelines/validation.yaml
Due: none

back to ubuntu
  pipelines/validation.yaml
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

updated version
  pipelines/validation.yaml
Due: none

removed nuget
  src/nuget.config
Due: pipelines/android.yaml

with and without
  pipelines/validation.yaml
Due: none

simple test
  pipelines/validation.yaml
Due: none

no use dotnet
  pipelines/validation.yaml
Due: none

ubuntu switch
  pipelines/validation.yaml
Due: none

removed unused script
  pipelines/validation.yaml
Due: none

removed hardcoded .net version
  pipelines/webAPI.yaml
  pipelines/website.yaml
Due: pipelines/webAPI.yaml, pipelines/website.yaml

tested get users
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/IUserProfileManager.cs
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.WebAPI.IntegrationTests/UserTests.cs
  src/Socially.WebAPI/Endpoints/UserEndpoints.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

displaying users
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.Apps.Consumer/Utils/ApiHttpHandler.cs
  src/Socially.Models/DisplayCommentModel.cs
  src/Socially.Models/PostDisplayModel.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.Server.ModelMappings/CommentMappingExtensions.cs
  src/Socially.Website/App.razor
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Components/PostDisplay.razor
  src/Socially.Website/Components/PostDisplay.razor.cs
  src/Socially.Website/Components/ProfilePictureIcon.razor
  src/Socially.Website/Components/ProfilePictureIcon.razor.cs
  src/Socially.Website/Components/UserThumb.razor
  src/Socially.Website/Components/UserThumb.razor.cs
  src/Socially.Website/Models/CachedUserMappings.cs
  src/Socially.Website/Pages/Profile/Profile.razor.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/AuthProvider.cs
  src/Socially.Website/Services/CachedContext.cs
  src/Socially.Website/Services/UserContext.cs
  src/Socially.Website/Shared/MainLayout.razor
  src/Socially.Website/Shared/MainLayout.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

created friend page
  src/Socially.Website/App.razor
  src/Socially.Website/Pages/Profile/Friends.razor
  src/Socially.Website/Pages/Profile/Profile.razor
  src/Socially.Website/Pages/Profile/Profile.razor.cs
  src/Socially.Website/Pages/Profile/ProfileLayout.razor
  src/Socially.Website/Pages/Profile/ProfileLayout.razor.cs
  src/Socially.Website/Shared/MainLayout.razor
  src/Socially.Website/Shared/SurveyPrompt.razor
  src/Socially.Website/_Imports.razor
Due: pipelines/android.yaml, pipelines/website.yaml

friends routing
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.WebAPI.IntegrationTests/UserTests.cs
  src/Socially.Website/Pages/Profile/Friends.razor
  src/Socially.Website/Pages/Profile/Friends.razor.cs
  src/Socially.Website/Pages/Profile/Profile.razor
  src/Socially.Website/Pages/Profile/ProfileLayout.razor
  src/Socially.Website/Shared/MainLayout.razor
  src/Socially.Website/Shared/MainLayout.razor.cs
  src/Socially.Website/Shared/NavMenu.razor
  src/Socially.Website/Shared/NavMenu.razor.cs
  src/Socially.Website/wwwroot/index.html
Due: pipelines/android.yaml, pipelines/website.yaml

find users for friends
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.WebAPI.IntegrationTests/UserTests.cs
  src/Socially.Website/Components/UserImagesComponent.razor
  src/Socially.Website/Pages/Profile/Friends.razor
  src/Socially.Website/Pages/Profile/Friends.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

friend request flow
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.WebAPI.IntegrationTests/FriendTests.cs
  src/Socially.Website/Pages/Profile/Friends.razor
  src/Socially.Website/Pages/Profile/Friends.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

net 7 upgrade
  src/Socially.Apps.Consumer/Socially.Apps.Consumer.csproj
  src/Socially.Models/Socially.Models.csproj
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Entities/Socially.Server.Entities.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Server.Managers/Socially.Server.Managers.csproj
  src/Socially.Server.ModelMappings/Socially.Server.ModelMappings.csproj
  src/Socially.Utils.MigrationConsole/Socially.Utils.MigrationConsole.csproj
  src/Socially.Utils.SamplerConsole/Socially.Utils.SamplerConsole.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.Website/Socially.Website.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

user based search
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/UserProfileManager.cs
Due: pipelines/android.yaml

friend flow
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.Server.Managers.Tests/FriendManagerTests.cs
  src/Socially.Server.Managers/FriendManager.cs
  src/Socially.Server.Managers/IFriendManager.cs
  src/Socially.Utils.SamplerConsole/Program.cs
  src/Socially.WebAPI/Endpoints/FriendEndpoints.cs
  src/Socially.Website/Pages/Profile/Friends.razor
  src/Socially.Website/Pages/Profile/Friends.razor.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

components name fix up
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/CurrentUserProfilePicture.razor
  src/Socially.Website/Components/CurrentUserProfilePicture.razor.cs
  src/Socially.Website/Components/PostDisplay.razor
  src/Socially.Website/Components/ProfilePicture.razor
  src/Socially.Website/Components/ProfilePicture.razor.cs
  src/Socially.Website/Components/ProfilePictureIcon.razor
  src/Socially.Website/Components/UserThumb.razor
  src/Socially.Website/Pages/Profile/Friends.razor
  src/Socially.Website/Pages/Profile/Profile.razor
  src/Socially.Website/Pages/Profile/ProfileLayout.razor
  src/Socially.Website/Shared/NavMenu.razor
Due: pipelines/android.yaml, pipelines/website.yaml

fixed image picker name
  src/Socially.Website/Components/UserImagesPicker.razor
  src/Socially.Website/Components/UserImagesPicker.razor.cs
  src/Socially.Website/Pages/Account/EditAccount.razor
  src/Socially.Website/Pages/Login.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

pulling posts for home
  src/Socially.Website/Pages/Index.razor
  src/Socially.Website/Pages/Index.razor.cs
  src/Socially.Website/Pages/Profile/Profile.razor
Due: pipelines/android.yaml, pipelines/website.yaml

validation pipeline net 7
  pipelines/validation.yaml
Due: none

validation using template
  pipelines/runtest.yml
  pipelines/validation.yaml
Due: none

fixed yaml versions
  .vscode/settings.json
  pipelines/webAPI.yaml
  pipelines/website.yaml
Due: pipelines/webAPI.yaml, pipelines/website.yaml

fixed caching
  src/Socially.Website/Components/PostDisplay.razor.cs
  src/Socially.Website/Models/CachedUserMappings.cs
  src/Socially.Website/Pages/Index.razor.cs
  src/Socially.Website/Pages/Profile/Profile.razor.cs
  src/Socially.Website/Services/CachedContext.cs
  src/Socially.Website/Utils/PostExtensions.cs
Due: pipelines/android.yaml, pipelines/website.yaml

getting current user
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.WebAPI/Endpoints/UserEndpoints.cs
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Components/CurrentUserProfilePicture.razor.cs
  src/Socially.Website/Components/PostDisplay.razor
  src/Socially.Website/Components/PostDisplay.razor.cs
  src/Socially.Website/Pages/Profile/ProfileLayout.razor.cs
  src/Socially.Website/Services/AuthProvider.cs
  src/Socially.Website/Services/CachedContext.cs
  src/Socially.Website/Shared/NavMenu.razor
  src/Socially.Website/Shared/NavMenu.razor.cs
  src/Socially.Website/Utils/EnumerableExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

fixing new post
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Pages/Profile/Profile.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

dynamic posts component
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/PostsDisplay.razor
  src/Socially.Website/Components/PostsDisplay.razor.cs
  src/Socially.Website/Pages/Index.razor
  src/Socially.Website/Pages/Index.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

post components clean up
  src/Socially.Website/Components/AddPostComponent.razor
  src/Socially.Website/Components/AddPostComponent.razor.cs
  src/Socially.Website/Pages/Index.razor
  src/Socially.Website/Pages/Profile/Profile.razor
  src/Socially.Website/Services/CachedContext.cs
Due: pipelines/android.yaml, pipelines/website.yaml

Path conditions:
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, pipelines/website.yaml
