Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

Path conditions:
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, pipelines/website.yaml

home page wrap up
  src/Socially.Website/Pages/Index.razor
  src/Socially.Website/Pages/Index.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

fixed refresh token
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/AuthProvider.cs
  src/Socially.Website/Services/CachedContext.cs
  src/Socially.Website/Services/WebHttpHandler.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

fixed cache locks
  src/Socially.Website/Services/CachedContext.cs
Due: pipelines/android.yaml, pipelines/website.yaml

menu clean up
  src/Socially.Website/Services/AuthProvider.cs
  src/Socially.Website/Shared/NavMenu.razor
  src/Socially.Website/wwwroot/images/logo-black.svg
  src/Socially.Website/wwwroot/images/logo-no-background.svg
  src/Socially.Website/wwwroot/images/logo-white.svg
Due: pipelines/android.yaml, pipelines/website.yaml

main page
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.Website/Shared/NavMenu.razor
  src/Socially.Website/wwwroot/css/app.css
  src/Socially.Website/wwwroot/images/logo-no-background.png
  src/Socially.Website/wwwroot/index.html
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

home page clean up
  src/Socially.Website/Components/PostDisplay.razor
  src/Socially.Website/Components/PostsDisplay.razor
  src/Socially.Website/Pages/Index.razor
  src/Socially.Website/Shared/NavMenu.razor
Due: pipelines/android.yaml, pipelines/website.yaml

posts clean up
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Pages/Index.razor
Due: pipelines/android.yaml, pipelines/website.yaml

pending clean ups
  src/Socially.Website/Pages/Account/AccountLayout.razor
  src/Socially.Website/Pages/Account/EditAccount.razor
  src/Socially.Website/Pages/Profile/ProfileLayout.razor
  src/Socially.Website/Pages/Profile/ProfileLayout.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

fixed exceptions on signup page
  src/Socially.Website/Shared/MainLayout.razor
Due: pipelines/android.yaml, pipelines/website.yaml

removed the connections
  src/Socially.Website/Pages/Profile/ProfileLayout.razor
Due: pipelines/android.yaml, pipelines/website.yaml

application insights
  src/Socially.Website/App.razor
  src/Socially.Website/Program.cs
  src/Socially.Website/Properties/launchSettings.json
  src/Socially.Website/Shared/SociallyLayoutBase.cs
  src/Socially.Website/Socially.Website.csproj
  src/Socially.Website/_Imports.razor
  src/Socially.Website/wwwroot/appsettings.Production.json
  src/Socially.Website/wwwroot/index.html
Due: pipelines/android.yaml, pipelines/website.yaml

removed console log
  pipelines/linux-deploy.yml
  src/Socially.Website/wwwroot/index.html
Due: pipelines/android.yaml, pipelines/website.yaml

verify direct compile
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

fixed webAPI
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

pipe!
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

testing manual deploy
  pipelines/linux-deploy.yml
  pipelines/linux-service.yml
  pipelines/webAPI.yaml
  src/Socially.WebAPI/Program.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

folder creation for deploy
  pipelines/linux-service.yml
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

remove the extra f
  pipelines/linux-service.yml
Due: none

publish the insides
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

another fix for zip
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

test without .
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

into the folder
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

trying /.
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

trying with -C
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

added configs
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

added configurations
  pipelines/linux-service.yml
Due: none

declaring config parameter
  pipelines/linux-service.yml
Due: none

fixed a tab
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

fixed service path
  pipelines/linux-service.yml
Due: none

fixed quote
  pipelines/linux-service.yml
Due: none

added remaining configurations
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

removed quote
  .gitignore
Due: none

removed quote
  pipelines/linux-service.yml
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/IUserProfileManager.cs
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/UserService.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

removed fake password
  src/Socially.Website/wwwroot/js/scripts.js
Due: pipelines/android.yaml, pipelines/website.yaml

fixed caching scope
  src/Socially.Models/UserSummaryModel.cs
  src/Socially.Models/Utils/ICachable.cs
  src/Socially.Website/Models/CachedUserMappings.cs
  src/Socially.Website/Models/ICacheMapping.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/CachedContext.cs
  src/Socially.Website/Services/CachedStorage.cs
  src/Socially.Website/Services/ICachedStorage.cs
  src/Socially.Website/wwwroot/index.html
Due: pipelines/android.yaml, pipelines/website.yaml

testing failed db
  pipelines/linux-service.yml
Due: none

fixed health
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

fixed endpoints
  pipelines/linux-service.yml
Due: none

deploying to new vm
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

sudo on file creations
  pipelines/linux-service.yml
Due: none
