Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android-deploy.yaml, pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

pipelines/android-deploy.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Compile
    jobs:
    - job: CompileMAUI
      displayName: Compile MAUI
      steps:
      - script: dotnet workload install maui-android
        displayName: Installing maui workload
  ...

pipelines/android.yaml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    displayName: Build App
    jobs:
    - job: XamarinCompile
      displayName: Building xamarin android
      steps:
      - task: file-creator@5
        displayName: Create config file
        inputs:
          filepath: $(configPath)
  ...

pipelines/api-CI.yaml:
  pool:
    vmImage: ubuntu-18.04
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk
    inputs:
      packageType: sdk
      version: 5.0.100-preview.2.20176.6
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@1
    displayName: Tests for API
    inputs:
      command: test
  ...

pipelines/webAPI.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Compile API
    jobs:
    - job: DotnetBuild
      displayName: Building and Publishing
      steps:
      - script: 'mkdir publishes
  
          dotnet publish $(projectPath) -c release -o published
  
  ...

pipelines/website.yaml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    jobs:
    - job: Building
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'dotnet publish $(projectPath) -c release -o published
  
          mkdir publishes
  
          tar -czvf publishes/packed.tar.gz -C published .
  
          '
  ...

never copy manifest
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

using name as version
  pipelines/android-deploy.yaml
Due: pipelines/android-deploy.yaml

trying out build number
  pipelines/android-deploy.yaml
Due: pipelines/android-deploy.yaml

testing release notes deploy
  pipelines/android-deploy.yaml
  src/ReleaseNotes.txt
  src/Socially.sln
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

release notes push completed
  pipelines/android-deploy.yaml
Due: pipelines/android-deploy.yaml

ignoring mobile configs
  .gitignore
Due: none

auto generated configss
  src/ReleaseNotes.txt
  src/Socially.MobileApp/MainPage.xaml.cs
  src/Socially.MobileApp/MauiProgram.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
  src/Socially.MobileApp/Utils/Configs.cs
  src/Socially.Utils.CodeGenerators/Program.cs
  src/Socially.Utils.CodeGenerators/Socially.Utils.CodeGenerators.csproj
  src/Socially.Utils.CodeGenerators/StringExtensions.cs
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

web app dynamic
  src/Socially.Utils.CodeGenerators/Program.cs
Due: pipelines/android.yaml

prod configs in mobile app
  src/Socially.MobileApp/Utils/Configs.cs
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

cleaned up signup
  src/Socially.Website/Pages/Login.razor
Due: pipelines/android.yaml, pipelines/website.yaml

testing trigger
  src/ReleaseNotes.txt
Due: pipelines/android.yaml

disable trigger
  pipelines/android-deploy.yaml
Due: pipelines/android-deploy.yaml

socially tested
  src/ReleaseNotes.txt
Due: pipelines/android.yaml

rollback to triggers
  pipelines/android-deploy.yaml
  src/ReleaseNotes.txt
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

mroe trigger tests
  src/ReleaseNotes.txt
Due: pipelines/android.yaml

even more android testing
  src/ReleaseNotes.txt
  src/Socially.MobileApp/MainPage.xaml
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

website with ubuntu
  pipelines/website.yaml
Due: pipelines/website.yaml

trying windows again
  pipelines/website.yaml
Due: pipelines/website.yaml

trying ubuntu again
  pipelines/website.yaml
Due: pipelines/website.yaml

copyrights
  src/Socially.Website/Components/Copyright.razor
  src/Socially.Website/Pages/Index.razor
  src/Socially.Website/Pages/Login.razor
Due: pipelines/android.yaml, pipelines/website.yaml

perge attempt
  pipelines/website.yaml
Due: pipelines/website.yaml

ummmmm stating 'inline'?
  pipelines/website.yaml
Due: pipelines/website.yaml

ps core purge
  pipelines/website.yaml
Due: pipelines/website.yaml

change test
  src/Socially.Website/Pages/Login.razor
Due: pipelines/android.yaml, pipelines/website.yaml

faster uploads
  pipelines/website.yaml
  src/Socially.Utils.SimpleAzCopy/Program.cs
  src/Socially.Website/Pages/Login.razor
Due: pipelines/android.yaml, pipelines/website.yaml

optioms being 10
  src/Socially.Utils.SimpleAzCopy/Program.cs
Due: pipelines/android.yaml

updated config key
  src/Socially.Website/Program.cs
  src/Socially.Website/wwwroot/appsettings.Local.json
  src/Socially.Website/wwwroot/appsettings.Production.json
Due: pipelines/android.yaml, pipelines/website.yaml

fixed signing out
  src/Socially.Website/Services/AuthProvider.cs
Due: pipelines/android.yaml, pipelines/website.yaml

exception clean up
  src/Socially.Website/Services/AuthProvider.cs
Due: pipelines/android.yaml, pipelines/website.yaml

auth injections
  src/Socially.Mobile.Logic.Tests/Socially.Mobile.Logic.Tests.csproj
  src/Socially.MobileApp/AppShell.xaml.cs
  src/Socially.MobileApp/MauiProgram.cs
  src/Socially.MobileApp/Pages/LoginPage.xaml
  src/Socially.MobileApp/Pages/LoginPage.xaml.cs
  src/Socially.MobileApp/Services/AuthAccess.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Entities/Socially.Server.Entities.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.Website/Socially.Website.csproj
Due: pipelines/android-deploy.yaml, pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

solution patched
  src/Socially.sln
Due: pipelines/android.yaml

managed to navigate
  src/Socially.MobileApp/AppShell.xaml
  src/Socially.MobileApp/AppShell.xaml.cs
  src/Socially.MobileApp/MainPage.xaml.cs
  src/Socially.MobileApp/Pages/LoginPage.xaml
  src/Socially.MobileApp/Pages/LoginPage.xaml.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

functioning injections
  src/Socially.MobileApp/MauiProgram.cs
  src/Socially.MobileApp/Pages/LoginPage.xaml.cs
  src/Socially.MobileApp/Services/AuthAccess.cs
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

moved generated code to seperate folder
  src/Socially.Mobile.Logic/Generated/Models/ForgotPasswordModel.g.cs
  src/Socially.Mobile.Logic/Generated/Models/LoginModel.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/ForgotPasswordModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/LoginModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/PasswordResetModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/PostDisplayModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/ProfileUpdateModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/SignUpModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/UserSummaryModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/PasswordResetModel.g.cs
  src/Socially.Mobile.Logic/Generated/Models/PostDisplayModel.g.cs
  src/Socially.Mobile.Logic/Generated/Models/ProfileUpdateModel.g.cs
  src/Socially.Mobile.Logic/Generated/Models/SignUpModel.g.cs
  src/Socially.Mobile.Logic/Generated/Models/UserSummaryModel.g.cs
  src/Socially.Mobile.Logic/Socially.Mobile.Logic.csproj
  src/Socially.MobileApp/Pages/LoginPage.xaml.cs
  src/Socially.Utils.CodeGenerators/Program.cs
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

auto gen viewmodels
  src/Socially.MobileApp/Generated/Pages/LoginPage.g.cs
  src/Socially.MobileApp/Pages/LoginPage.xaml.cs
  src/Socially.Utils.CodeGenerators/GenerateUtil.cs
  src/Socially.Utils.CodeGenerators/Program.cs
  src/Socially.Utils.CodeGenerators/Socially.Utils.CodeGenerators.csproj
  src/Socially.sln
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

seperated code generators
  generate.bat
  src/Socially.Mobile.Logic.Generator/GenerateCode.cs
  src/Socially.Mobile.Logic.Generator/Program.cs
  src/Socially.Mobile.Logic.Generator/Socially.Mobile.Logic.Generator.csproj
  src/Socially.Mobile.Logic/Socially.Mobile.Logic.csproj
  src/Socially.MobileApp.Generator/GenerateCode.cs
  src/Socially.MobileApp.Generator/Program.cs
  src/Socially.MobileApp.Generator/Socially.MobileApp.Generator.csproj
  src/Socially.Utils.GeneratorCommon/AggregatedType.cs
  src/Socially.Utils.GeneratorCommon/FileUtils.cs
  src/Socially.Utils.GeneratorCommon/Socially.Utils.GeneratorCommon.csproj
  src/Socially.Utils.GeneratorCommon/StringExtensions.cs
  src/Socially.sln
Due: pipelines/android.yaml

cleaned old generator
  src/Socially.Utils.CodeGenerators/AggregatedType.cs
  src/Socially.Utils.CodeGenerators/GenerateUtil.cs
  src/Socially.Utils.CodeGenerators/Program.cs
  src/Socially.Utils.CodeGenerators/Socially.Utils.CodeGenerators.csproj
  src/Socially.Utils.CodeGenerators/StringExtensions.cs
Due: pipelines/android.yaml

injection and binding
  src/Socially.Mobile.Logic.Generator/Socially.Mobile.Logic.Generator.csproj
  src/Socially.Mobile.Logic.Tests/ViewModels/LoginViewModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/SignupViewModelTests.cs
  src/Socially.Mobile.Logic/Services/INavigationControl.cs
  src/Socially.Mobile.Logic/Socially - Backup.Mobile.Logic.csproj
  src/Socially.Mobile.Logic/ViewModels/LoginViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/SignupViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
  src/Socially.MobileApp.Generator/GenerateCode.cs
  src/Socially.MobileApp.Generator/Program.cs
  src/Socially.MobileApp/Generated/MauiProgram.g.cs
  src/Socially.MobileApp/MauiProgram.cs
  src/Socially.MobileApp/Pages/LoginPage.xaml
  src/Socially.MobileApp/Services/Messaging.cs
  src/Socially.MobileApp/Services/NavigationControl.cs
  src/Socially.MobileApp/Services/SociallyLogger.cs
  src/Socially.WebAPI/Properties/launchSettings.json
Due: pipelines/android-deploy.yaml, pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

functional login
  src/Socially.Mobile.Logic/ViewModels/LoginViewModel.cs
  src/Socially.MobileApp/Pages/LoginPage.xaml
  src/Socially.MobileApp/Services/AuthAccess.cs
  src/Socially.MobileApp/Services/SociallyLogger.cs
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

login flow
  src/Socially.Mobile.Logic.Tests/ComponentModels/ProfileFriendsComponentModelTests.cs
  src/Socially.Mobile.Logic/ComponentModels/ProfileFriendsComponentModel.cs
  src/Socially.Mobile.Logic/ViewModels/InitialViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
  src/Socially.MobileApp.Generator/GenerateCode.cs
  src/Socially.MobileApp/App.xaml
  src/Socially.MobileApp/AppShell.xaml
  src/Socially.MobileApp/AppShell.xaml.cs
  src/Socially.MobileApp/Generated/MauiProgram.g.cs
  src/Socially.MobileApp/Generated/Pages/HomePage.g.cs
  src/Socially.MobileApp/Generated/Pages/InitialPage.g.cs
  src/Socially.MobileApp/MauiProgram.cs
  src/Socially.MobileApp/Pages/HomePage.xaml
  src/Socially.MobileApp/Pages/HomePage.xaml.cs
  src/Socially.MobileApp/Pages/InitialPage.xaml
  src/Socially.MobileApp/Pages/InitialPage.xaml.cs
  src/Socially.MobileApp/Pages/LoginPage.xaml
  src/Socially.MobileApp/Pages/LoginPage.xaml.cs
  src/Socially.MobileApp/Resources/Images/splash.svg
  src/Socially.MobileApp/Services/NavigationControl.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android-deploy.yaml, pipelines/android.yaml

Path conditions:
  pipelines/android-deploy.yaml: any of: src/Socially.MobileApp, pipelines/android-deploy.yaml
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, pipelines/website.yaml
