Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android-deploy.yaml, pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

Path conditions:
  pipelines/android-deploy.yaml: any of: src/Socially.MobileApp, pipelines/android-deploy.yaml
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, src/Socially.Utils.SimpleAzCopy, pipelines/website.yaml

passing in the request id
  src/Socially.Website/Services/SignalRListener.consumer.cs
Due: pipelines/android.yaml, pipelines/website.yaml

pushing website to VM
  pipelines/webAPI.yaml
  pipelines/website.yaml
Due: pipelines/webAPI.yaml, pipelines/website.yaml

db context setup
  src/Socially.Server.DataAccess/RealTimeDbContext.cs
  src/Socially.Server.DataAccess/RealTimeMigrations/20230801060013_Init.Designer.cs
  src/Socially.Server.DataAccess/RealTimeMigrations/20230801060013_Init.cs
  src/Socially.Server.DataAccess/RealTimeMigrations/RealTimeDbContextModelSnapshot.cs
  src/Socially.Server.Entities/PostConnection.cs
  src/Socially.Server.Managers/IRealTimeManager.cs
  src/Socially.Server.Managers/RealTimeManager.cs
  src/Socially.Utils.MigrationConsole/Program.cs
  src/Socially.Utils.MigrationConsole/Socially.Utils.MigrationConsole.csproj
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

pipeline setup
  pipelines/recreate-service.yml
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

removing unwanted on signalr
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/SignalRListener.cs
Due: pipelines/android.yaml, pipelines/website.yaml

setting up user update
  src/Socially.WebAPI/Endpoints/ProfileEndpoints.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.WebAPI/Services/HubScope.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

patching token
  src/Socially.Website/Services/SignalRListener.cs
Due: pipelines/android.yaml, pipelines/website.yaml

profile update logic
  src/Socially.Server.DataAccess/RealTimeDbContext.cs
  src/Socially.Server.Entities/UserConnection.cs
  src/Socially.Server.Managers/IRealTimeManager.cs
  src/Socially.Server.Managers/RealTimeManager.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.Website/Models/RealtimeEventArgs/UserUpdatedEventArgs.cs
  src/Socially.Website/Services/SignalRListener.consumer.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

added db migration
  src/Socially.Mobile.Logic.Tests/Socially.Mobile.Logic.Tests.csproj
  src/Socially.Server.DataAccess/RealTimeMigrations/20230805082930_UserConn.Designer.cs
  src/Socially.Server.DataAccess/RealTimeMigrations/20230805082930_UserConn.cs
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.Website/Services/SignalRListener.consumer.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

client setup
  src/Socially.Apps.Consumer/Services/CachedStorage.cs
  src/Socially.Apps.Consumer/Services/ICachedStorage.cs
  src/Socially.Website/Pages/Account/EditAccount.razor.cs
  src/Socially.Website/Services/CachedContext.cs
Due: pipelines/android.yaml, pipelines/website.yaml

listen to user id
  src/Socially.Website/Pages/Account/EditAccount.razor.cs
  src/Socially.Website/Pages/Index.razor.cs
  src/Socially.Website/Services/SignalRListener.consumer.cs
  src/Socially.Website/Shared/MainLayout.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

patched listening
  src/Socially.Website/Pages/Index.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

fixing user type
  src/Socially.Server.Managers/IUserProfileManager.cs
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

migration for second db
  src/Socially.Utils.MigrationConsole/Program.cs
Due: pipelines/android.yaml

rolled back blob health check
  src/Socially.Utils.MigrationConsole/Program.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

removed unwanted string
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

using right realtime connection string
  src/Socially.Utils.MigrationConsole/Program.cs
Due: pipelines/android.yaml

realtiem setup for likes
  src/Socially.WebAPI/Endpoints/PostEndpoints.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.Website/Models/RealtimeEventArgs/LikedEventArgs.cs
  src/Socially.Website/Services/SignalRListener.consumer.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

get like count
  src/Socially.Server.Managers/IPostManager.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.WebAPI/Endpoints/PostEndpoints.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.Website/Models/RealtimeEventArgs/LikedEventArgs.cs
  src/Socially.Website/Services/SignalRListener.consumer.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

patching tests
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.WebAPI.IntegrationTests/PostTests.cs
  src/Socially.Website/Components/CommentsDisplay.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

realtime likes!!
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Services/SignalRListener.consumer.cs
Due: pipelines/android.yaml, pipelines/website.yaml

like on post
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Components/PostsDisplay.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

server setup
  src/Socially.WebAPI/Endpoints/PostEndpoints.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.Website/Models/RealtimeEventArgs/PostDeletedEventArgs.cs
  src/Socially.Website/Services/SignalRListener.consumer.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

delete post realtime
  src/Socially.Website/Components/PostsDisplay.razor.cs
  src/Socially.Website/Pages/Index.razor.cs
  src/Socially.Website/Pages/Profile/Profile.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

unit tests
  src/Socially.Server.Managers.Tests/RealTimeManagerTests.cs
  src/Socially.Server.Managers.Tests/TestBase.cs
  src/Socially.Server.Managers/IRealTimeManager.cs
  src/Socially.Server.Managers/RealTimeManager.cs
  src/Socially.WebAPI/Services/HubScope.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

comment dynamic
  src/Socially.Server.Entities/Comment.cs
  src/Socially.Server.Managers/PostManager.cs
Due: pipelines/android.yaml

adding comments with a second call
  src/Socially.Server.Managers/PostManager.cs
Due: pipelines/android.yaml

using delete model
  src/Socially.Models/CommentDeletedModel.cs
  src/Socially.Server.Managers/IPostManager.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

patching tests
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.sln
Due: pipelines/android.yaml

patched allowing executing update
  src/Socially.Server.Managers.Tests/PostManagerTests.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.Server.Managers/Utils/QueryExtensions.cs
Due: pipelines/android.yaml

fixed manager tests
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.Server.Managers/Utils/QueryExtensions.cs
Due: pipelines/android.yaml

fixed test
  src/Socially.WebAPI.IntegrationTests/PostTests.cs
Due: pipelines/android.yaml

Renewing SSL certificates
  pipelines/cert-renew.yaml
Due: none

added schedule
  pipelines/cert-renew.yaml
Due: none

fixing migration for realtime
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

added that config thing
  src/Socially.WebAPI/Program.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

added migration to add delete field
  src/Socially.Server.DataAccess/Migrations/20231206052343_CommentDelete.Designer.cs
  src/Socially.Server.DataAccess/Migrations/20231206052343_CommentDelete.cs
  src/Socially.Server.DataAccess/RealTimeMigrations/RealTimeDbContextModelSnapshot.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

fixing null on profile page
  src/Socially.ClientUtils/PostExtensions.cs
Due: pipelines/android.yaml

fixing comments being null when post has no comments
  src/Socially.Server.Managers.Tests/PostManagerTests.cs
  src/Socially.Server.Managers/PostManager.cs
Due: pipelines/android.yaml

fixing cron
  pipelines/cert-renew.yaml
  src/Socially.ClientUtils/PostExtensions.cs
Due: pipelines/android.yaml
