Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

pipelines/android.yaml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    displayName: Build App
    jobs:
    - job: XamarinCompile
      displayName: Building xamarin android
      steps:
      - task: file-creator@5
        displayName: Create config file
        inputs:
          filepath: $(configPath)
  ...

pipelines/api-CI.yaml:
  pool:
    vmImage: ubuntu-18.04
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk
    inputs:
      packageType: sdk
      version: 5.0.100-preview.2.20176.6
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@1
    displayName: Tests for API
    inputs:
      command: test
  ...

pipelines/webAPI.yaml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: Shared\netcore-ubuntu.yml@templates
    parameters:
      usePreRelease: true
      projectPath: src/Socially.WebAPI
      tempFolderName: sociallyTemp
      projectName: Socially.WebAPI
      destDirectory: \/var\/www\/socially
      port: 5030
      service:
  ...

login views
  src/Socially.Website/App.razor
  src/Socially.Website/Pages/Login.razor
  src/Socially.Website/Shared/MainLayout.razor
  src/Socially.Website/Socially.Website.csproj
  src/Socially.Website/_Imports.razor
  src/Socially.Website/wwwroot/css/social-theme/style.css
  src/Socially.Website/wwwroot/index.html
  src/Socially.Website/wwwroot/js/theme.js
Due: pipelines/android.yaml

loader aligned
  src/Socially.Website/wwwroot/index.html
Due: pipelines/android.yaml

auth service with login
  src/Socially.Website/Models/UserData.cs
  src/Socially.Website/Pages/Login.razor.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/AuthService.cs
  src/Socially.Website/Services/WebHttpHandler.cs
Due: pipelines/android.yaml

auth UI
  src/Socially Website.sln
  src/Socially.Website/Components/AuthConditional.razor
  src/Socially.Website/Components/AuthConditional.razor.cs
  src/Socially.Website/Models/LoginEvent.cs
  src/Socially.Website/Services/AuthService.cs
Due: pipelines/android.yaml

auth tested
  src/Socially.Website/Pages/Login.razor
  src/Socially.Website/Pages/Login.razor.cs
Due: pipelines/android.yaml

setup auth
  src/Socially.Website/App.razor
  src/Socially.Website/Components/AuthConditional.razor.cs
  src/Socially.Website/Pages/Index.razor
  src/Socially.Website/Pages/Index.razor.cs
  src/Socially.Website/Pages/Login.razor.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/AuthProvider.cs
  src/Socially.Website/Services/AuthService.cs
  src/Socially.Website/Services/WebHttpHandler.cs
  src/Socially.Website/Socially.Website.csproj
  src/Socially.Website/_Imports.razor
Due: pipelines/android.yaml

website pipeline setup
  pipelines/website.yaml
Due: none

fixed port
  pipelines/website.yaml
Due: none

setting .net version
  pipelines/website.yaml
Due: none

fixed version
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

updated nugets
  src/Socially.Website/Socially.Website.csproj
Due: pipelines/android.yaml

updated all nugets
  src/Socially Web.sln
  src/Socially.Apps.Consumer/Socially.Apps.Consumer.csproj
  src/Socially.Core/Socially.Core.csproj
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Server.Services/Socially.Server.Services.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Socially.WebAPI.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

auth with local store
  src/Socially.Website/App.razor
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/AuthProvider.cs
  src/Socially.Website/wwwroot/index.html
  src/Socially.Website/wwwroot/js/inter-act.js
Due: pipelines/android.yaml

auth raw setup
  src/Socially.Website/App.razor
  src/Socially.Website/Pages/Index.razor
  src/Socially.Website/Socially.Website.csproj
  src/Socially.Website/wwwroot/sample-data/weather.json
Due: pipelines/android.yaml

forced login
  src/Socially.Website/Services/AuthProvider.cs
Due: pipelines/android.yaml

router failed
  src/Socially.Website/App.razor
  src/Socially.Website/Services/AuthProvider.cs
Due: pipelines/android.yaml

logged in
  src/Socially.Website/Services/AuthProvider.cs
Due: pipelines/android.yaml

login page back
  src/Socially.Website/App.razor
Due: pipelines/android.yaml

non login
  src/Socially.Website/Services/AuthProvider.cs
Due: pipelines/android.yaml

no index stuff
  src/Socially.Website/Pages/Index.razor
Due: pipelines/android.yaml

connections
  src/Socially.Website/Program.cs
Due: pipelines/android.yaml

updated versions
  src/Socially.Core/Socially.Core.csproj
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Server.Services/Socially.Server.Services.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Socially.WebAPI.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

killed android trigger
  pipelines/android.yaml
Due: none

put back the dev
  src/Socially.Website/Socially.Website.csproj
  src/Socially.sln
Due: pipelines/android.yaml

persistant auth
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/AuthProvider.cs
  src/Socially.Website/Shared/MainLayout.razor
  src/Socially.Website/Shared/MainLayout.razor.cs
  src/Socially.Website/wwwroot/index.html
  src/Socially.Website/wwwroot/js/inter-act.js
Due: pipelines/android.yaml

website css
  src/Socially.Website/wwwroot/index.html
Due: pipelines/android.yaml

Update README.md
  README.md
Due: none

theme switching!!
  src/Socially.Website/Pages/Login.razor.cs
  src/Socially.Website/Shared/EmptyLayout.razor
  src/Socially.Website/Shared/MainLayout.razor
  src/Socially.Website/Shared/MainLayout.razor.cs
  src/Socially.Website/Shared/SociallyLayoutBase.cs
  src/Socially.Website/wwwroot/index.html
  src/Socially.Website/wwwroot/js/theme.js
Due: pipelines/android.yaml

clean up
  src/Socially.Website/Shared/MainLayout.razor
Due: pipelines/android.yaml

updated abstraction
  src/Socially.WebAPI/EndpointUtils/CustomEndpointExtensions.cs
  src/Socially.WebAPI/EndpointUtils/EndpointsBase.cs
  src/Socially.WebAPI/EndpointUtils/MultiEndpointConventionBuilder.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.Website/Socially.Website.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

swagger!
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

updated database fields
  src/Socially.Core/Entities/User.cs
  src/Socially.Server.DataAccess/Migrations/20220729022750_AccountInfo.Designer.cs
  src/Socially.Server.DataAccess/Migrations/20220729022750_AccountInfo.cs
  src/Socially.Server.Services/UserService.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

fixed up tests
  src/Socially.Core/Models/ProfileUpdateModel.cs
  src/Socially.Server.DataAccess/ApplicationDbContext.cs
  src/Socially.Server.DataAccess/Migrations/20220729082258_ProfileCreatedDefault.Designer.cs
  src/Socially.Server.DataAccess/Migrations/20220729082258_ProfileCreatedDefault.cs
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/IUserProfileManager.cs
  src/Socially.Server.Managers/IUserVerificationManager.cs
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.Server.Managers/UserVerificationManager.cs
  src/Socially.Server.Services/Socially.Server.Services.csproj
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Middlewares/CurrentSetupMiddleware.cs
  src/Socially.WebAPI/Models/CurrentContext.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/IUserService.cs
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.WebAPI/Utils/MiddlewareExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

fixed tests db
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/UserProfileManager.cs
Due: pipelines/android.yaml

endpoints setup
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Services/IUserService.cs
  src/Socially.WebAPI/Services/UserService.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

unused endpoints clean up
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
  src/Socially.WebAPI/EndpointUtils/EndpointsBase2.cs
  src/Socially.WebAPI/EndpointUtils/HttpContextQueryExtensions.cs
  src/Socially.WebAPI/EndpointUtils/HttpContextResponseExtensions.cs
  src/Socially.WebAPI/EndpointUtils/HttpContextRouteExtensions.cs
  src/Socially.WebAPI/EndpointUtils/HttpContextServiceExtensions.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.WebAPI/Utils/CustomEndpointExtensions.cs
  src/Socially.WebAPI/Utils/EndpointsBase.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

jwt completly
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Middlewares/CustomExceptionOptions.cs
  src/Socially.WebAPI/Models/EndpointsBase.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.WebAPI/Utils/CustomEndpointExtensions.cs
  src/Socially.WebAPI/Utils/HttpContextModelExtensions.cs
  src/Socially.WebAPI/Utils/JwtCompleteExtensions.cs
  src/Socially.WebAPI/Utils/TokenInfo.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

working auth
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.WebAPI/Utils/JwtCompleteExtensions.cs
  src/Socially.WebAPI/Utils/TokenInfo.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

Path conditions:
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
