Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

pipelines/android.yaml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    displayName: Build App
    jobs:
    - job: XamarinCompile
      displayName: Building xamarin android
      steps:
      - task: file-creator@5
        displayName: Create config file
        inputs:
          filepath: $(configPath)
  ...

pipelines/api-CI.yaml:
  pool:
    vmImage: ubuntu-18.04
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk
    inputs:
      packageType: sdk
      version: 5.0.100-preview.2.20176.6
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@1
    displayName: Tests for API
    inputs:
      command: test
  ...

pipelines/webAPI.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Compile API
    jobs:
    - job: DotnetBuild
      displayName: Building and Publishing
      steps:
      - script: 'mkdir publishes
  
          dotnet publish $(projectPath) -c release -o published
  
  ...

pipelines/website.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Building
      steps:
      - script: 'dotnet publish $(projectPath) -c release -o published
  
          # mkdir publishes
  
          # tar -czvf publishes/packed.tar.gz -C published .
  
          '
        displayName: building blazor
  ...

comment patch ups
  src/Socially.Mobile.Logic/ComponentModels/CommentDisplayComponentModel.cs
  src/Socially.Mobile.Logic/ComponentModels/PostDisplayComponentModel.cs
  src/Socially.MobileApp/Components/CommentDisplay.xaml
  src/Socially.MobileApp/Components/CommentDisplay.xaml.cs
  src/Socially.MobileApp/Components/CommentEntry.xaml
  src/Socially.MobileApp/Components/CommentEntry.xaml.cs
  src/Socially.MobileApp/Components/PostDisplay.xaml
Due: pipelines/android.yaml

fixed commenting
  src/Socially.MobileApp/Components/CommentDisplay.xaml
  src/Socially.MobileApp/Components/PostDisplay.xaml
Due: pipelines/android.yaml

reverse comments
  src/Socially.Mobile.Logic/ViewModels/ProfilePostsViewModel.cs
  src/Socially.MobileApp/Components/CommentDisplay.xaml
Due: pipelines/android.yaml

changed android cert
  pipelines/android-deploy.yaml
Due: none

pub sub setup post refresh
  src/Socially.Mobile.Logic/ComponentModels/CommentDisplayComponentModel.cs
  src/Socially.Mobile.Logic/ComponentModels/PostDisplayComponentModel.cs
  src/Socially.Mobile.Logic/Models/PubMessages/RefreshPostMessage.cs
  src/Socially.Mobile.Logic/Models/PublishMessage.cs
  src/Socially.Mobile.Logic/Models/PublishType.cs
  src/Socially.Mobile.Logic/Services/IPubSubService.cs
  src/Socially.Mobile.Logic/ViewModels/ProfilePostsViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
  src/Socially.MobileApp.Generator/GenerateCode.cs
  src/Socially.MobileApp/Generated/Pages/AccountPage.g.cs
  src/Socially.MobileApp/Generated/Pages/ForgotPasswordPage.g.cs
  src/Socially.MobileApp/Generated/Pages/HomePage.g.cs
  src/Socially.MobileApp/Generated/Pages/ImagePickerPage.g.cs
  src/Socially.MobileApp/Generated/Pages/InitialPage.g.cs
  src/Socially.MobileApp/Generated/Pages/LoginPage.g.cs
  src/Socially.MobileApp/Generated/Pages/ProfileFriendsPage.g.cs
  src/Socially.MobileApp/Generated/Pages/ProfileImagesPage.g.cs
  src/Socially.MobileApp/Generated/Pages/ProfilePostsPage.g.cs
  src/Socially.MobileApp/Generated/Pages/SignupPage.g.cs
  src/Socially.MobileApp/Services/PubSubService.cs
Due: pipelines/android.yaml

patched test
  src/Socially.Mobile.Logic.Tests/ViewModels/ProfilePostsViewModelTests.cs
Due: pipelines/android.yaml

manual pub sub
  src/Socially.Mobile.Logic/Services/IPubSubService.cs
  src/Socially.Mobile.Logic/Utils/PostExtensions.cs
  src/Socially.Mobile.Logic/ViewModels/HomeViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ProfilePostsViewModel.cs
  src/Socially.MobileApp/MauiProgram.cs
  src/Socially.MobileApp/Services/PubSubService.cs
Due: pipelines/android.yaml

refresh on comment post
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/HomeViewModelTests.cs
  src/Socially.Mobile.Logic/ComponentModels/CommentDisplayComponentModel.cs
  src/Socially.Mobile.Logic/ComponentModels/PostDisplayComponentModel.cs
  src/Socially.Mobile.Logic/Services/IPubSubService.cs
  src/Socially.Mobile.Logic/ViewModels/HomeViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ProfilePostsViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
Due: pipelines/android.yaml, pipelines/website.yaml

updated validation
  README.md
Due: none

setup
  src/Socially.Mobile.Logic/ComponentModels/PostDisplayComponentModel.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

adding logging
  src/Socially.Mobile.Logic/ComponentModels/PostDisplayComponentModel.cs
  src/Socially.MobileApp/Services/SociallyLogger.cs
Due: pipelines/android.yaml

app center setup
  src/Socially.MobileApp/MauiProgram.cs
  src/Socially.MobileApp/Utils/Configs.cs
Due: pipelines/android.yaml

configs on pipeline
  pipelines/android-deploy.yaml
  src/Socially.MobileApp/MauiProgram.cs
Due: pipelines/android.yaml

viewing file
  pipelines/android-deploy.yaml
Due: none

using the quotes
  pipelines/android-deploy.yaml
Due: none

direct file
  pipelines/android-deploy.yaml
Due: none

removed pipe
  pipelines/android-deploy.yaml
Due: none

using partial magic
  pipelines/android-deploy.yaml
  src/Socially.MobileApp/Utils/Configs.cs
Due: pipelines/android.yaml

Fixed Error on login page
  src/ReleaseNotes.txt
  src/Socially.Mobile.Logic/ViewModels/LoginViewModel.cs
Due: pipelines/android.yaml

endpint calls
  src/Socially.Mobile.Logic/ViewModels/ProfileFriendsViewModel.cs
Due: pipelines/android.yaml

friend and request trigger binding
  src/Socially.Mobile.Logic/Generated/Models/UserSummaryModel.g.cs
  src/Socially.Mobile.Logic/Models/DetailedUser.cs
  src/Socially.Mobile.Logic/Models/GroupedUsers.cs
  src/Socially.Mobile.Logic/Models/UserType.cs
  src/Socially.Mobile.Logic/ViewModels/ProfileFriendsViewModel.cs
  src/Socially.MobileApp/Pages/ProfileFriendsPage.xaml
  src/Socially.MobileApp/TemplateSelectors/FriendTemplateSelector.cs
Due: pipelines/android.yaml

fixed recursion
  src/Socially.ClientUtils/PostExtensions.cs
  src/Socially.Website/Components/PostsDisplay.razor
Due: pipelines/android.yaml, pipelines/website.yaml

updated nugets
  src/Socially.Apps.Consumer/Socially.Apps.Consumer.csproj
  src/Socially.Mobile.Logic.Tests/Socially.Mobile.Logic.Tests.csproj
  src/Socially.Mobile.Logic/Socially.Mobile.Logic.csproj
  src/Socially.MobileApp/Socially.MobileApp.csproj
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Entities/Socially.Server.Entities.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Utils.SimpleAzCopy/Socially.Utils.SimpleAzCopy.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.Website/Socially.Website.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

accept color
  src/Socially.MobileApp/Pages/ProfileFriendsPage.xaml
  src/Socially.MobileApp/Resources/Styles/Colors.xaml
Due: pipelines/android.yaml

cached posts
  src/Socially.Models/PostDisplayModel.cs
  src/Socially.Website/Components/PostsDisplay.razor
  src/Socially.Website/Components/PostsDisplay.razor.cs
  src/Socially.Website/Pages/Profile/Profile.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

SemaphoreSlim implimented
  src/Socially.Apps.Consumer/Services/CachedStorage.cs
  src/Socially.Apps.Consumer/Services/ICachedStorage.cs
  src/Socially.ClientUtils/AsyncLocker.cs
  src/Socially.Website/Services/CachedContext.cs
Due: pipelines/android.yaml, pipelines/website.yaml

table storage setup
  src/Socially.Server.DataAccess/CosmosAccess.cs
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.DataAccess/TableAccess.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

created signalr state manager
  src/Socially.Server.DataAccess/ITableAccess.cs
  src/Socially.Server.DataAccess/TableAccess.cs
  src/Socially.Server.Managers/RealtimeStateManager.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

test base setup
  src/Socially.Server.Managers.Tests/RealtimeStateManagerTest.cs
Due: pipelines/android.yaml

setting up tests
  src/Socially.Server.Managers.Tests/RealtimeStateManagerTest.cs
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/FriendManager.cs
  src/Socially.Server.Managers/UserProfileManager.cs
Due: pipelines/android.yaml

adding enumerable util
  src/Socially.Server.Managers.Tests/RealtimeStateManagerTest.cs
Due: pipelines/android.yaml

tests on realtime state manager
  src/Socially.Server.Managers.Tests/RealtimeStateManagerTest.cs
  src/Socially.Server.Managers.Tests/Utils/EnumerableExtensions.cs
  src/Socially.Server.Managers/RealtimeStateManager.cs
Due: pipelines/android.yaml

configs clean up
  src/Socially.Server.DataAccess/ITableAccess.cs
  src/Socially.Server.DataAccess/TableAccess.cs
  src/Socially.Server.Managers.Tests/SignalRStateManagerTests.cs
  src/Socially.Server.Managers/ISignalRStateManager.cs
  src/Socially.Server.Managers/SignalRStateManager.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/InitializeService.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

added pipeline config
  pipelines/recreate-service.yml
Due: none

state manager
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

cleaner
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

updater
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

publisher
  src/Socially.WebAPI/Services/SignalrPublisher.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

run dequeue in parallel
  src/Socially.Server.Managers/IPostManager.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/InitializeService.cs
  src/Socially.WebAPI/Services/SignalrPublisher.cs
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

enqueing signalr on adding post
  src/Socially.Models/DisplayCommentModel.cs
  src/Socially.Server.Managers/IPostManager.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.Server.ModelMappings/CommentMappingExtensions.cs
  src/Socially.WebAPI/Endpoints/PostEndpoints.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

Path conditions:
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, src/Socially.Utils.SimpleAzCopy, pipelines/website.yaml
