Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

Path conditions:
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, pipelines/website.yaml

app center deploy
  pipelines/android-deploy.yaml
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

fixing app path
  pipelines/android-deploy.yaml
Due: none

fixed name name
  pipelines/android-deploy.yaml
Due: none

trying ubuntu
  pipelines/android-deploy.yaml
Due: none

path: ubuntu style
  pipelines/android-deploy.yaml
Due: none

fixed the right place too
  pipelines/android-deploy.yaml
Due: none

installing maui
  pipelines/android-deploy.yaml
Due: none

removing other frameworks
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

reordered
  pipelines/android-deploy.yaml
Due: none

icon and version
  pipelines/android-deploy.yaml
  src/Socially.MobileApp/Resources/AppIcon/appicon.svg
  src/Socially.MobileApp/Resources/AppIcon/appiconfg.svg
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

setups
  pipelines/android-deploy.yaml
Due: none

quotes
  pipelines/android-deploy.yaml
Due: none

commented file update
  pipelines/android-deploy.yaml
Due: none

auth abstraction
  src/Socially.Apps.Consumer/Models/StoredToken.cs
  src/Socially.Apps.Consumer/Services/IAuthAccess.cs
  src/Socially.Website/Pages/Login.razor.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/AuthProvider.cs
  src/Socially.Website/Services/WebHttpHandler.cs
  src/Socially.Website/Shared/NavMenu.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

merged handlers
  src/Socially.Apps.Consumer/Utils/ApiHttpHandler.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/WebHttpHandler.cs
Due: pipelines/android.yaml, pipelines/website.yaml

http handler cleaned up on web
  src/Socially.Apps.Consumer/Utils/ApiHttpHandler.cs
  src/Socially.MobileApp/Resources/Splash/logo-no-background.svg
  src/Socially.MobileApp/Socially.MobileApp.csproj
  src/Socially.Website/Components/CurrentUserProfilePicture.razor.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/CachedContext.cs
  src/Socially.Website/Services/WebHttpHandler.cs
  src/Socially.Website/Shared/SociallyLayoutBase.cs
Due: pipelines/android.yaml, pipelines/website.yaml

fixed android trigger
  pipelines/android-deploy.yaml
Due: none

patched logo
  src/Socially.MobileApp/Resources/Splash/logo.svg
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

generator
  src/Socially.MobileApp/Models/LoginModel.g.cs
  src/Socially.MobileApp/Models/Mappings/LoginModelMappingExtensions.g.cs
  src/Socially.MobileApp/Models/Mappings/PasswordResetModelMappingExtensions.g.cs
  src/Socially.MobileApp/Models/Mappings/PostDisplayModelMappingExtensions.g.cs
  src/Socially.MobileApp/Models/Mappings/SignUpModelMappingExtensions.g.cs
  src/Socially.MobileApp/Models/PasswordResetModel.g.cs
  src/Socially.MobileApp/Models/PostDisplayModel.g.cs
  src/Socially.MobileApp/Models/SignUpModel.g.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
  src/Socially.MobileApp/ViewModels/LoginViewModel.cs
  src/Socially.MobileApp/ViewModels/ViewModelBase.cs
  src/Socially.Utils.CodeGenerators/AggregatedType.cs
  src/Socially.Utils.CodeGenerators/GenerateUtil.cs
  src/Socially.Utils.CodeGenerators/Program.cs
  src/Socially.Utils.CodeGenerators/Socially.Utils.CodeGenerators.csproj
  src/Socially.Utils.CodeGenerators/StringExtensions.cs
  src/Socially.Utils.SamplerConsole/Program.cs
  src/Socially.Utils.SamplerConsole/Socially.Utils.SamplerConsole.csproj
  src/Socially.sln
Due: pipelines/android.yaml

validation tests
  src/Socially Apps.sln
  src/Socially Web.sln
  src/Socially Website.sln
  src/Socially.Mobile.Logic.Tests/Socially.Mobile.Logic.Tests.csproj
  src/Socially.Mobile.Logic.Tests/Usings.cs
  src/Socially.Mobile.Logic.Tests/Utils/ValidationExtensions.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/LoginViewModelTests.cs
  src/Socially.Mobile.Logic/Models/LoginModel.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/LoginModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/PasswordResetModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/PostDisplayModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/SignUpModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/PasswordResetModel.g.cs
  src/Socially.Mobile.Logic/Models/PostDisplayModel.g.cs
  src/Socially.Mobile.Logic/Models/SignUpModel.g.cs
  src/Socially.Mobile.Logic/Socially - Backup.Mobile.Logic.csproj
  src/Socially.Mobile.Logic/Socially.Mobile.Logic.csproj
  src/Socially.Mobile.Logic/ViewModels/LoginViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
  src/Socially.MobileApp/Models/Mappings/LoginModelMappingExtensions.g.cs
  src/Socially.MobileApp/Models/SignUpModel.g.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
  src/Socially.Utils.CodeGenerators/GenerateUtil.cs
  src/Socially.Utils.CodeGenerators/Program.cs
  src/Socially.Utils.CodeGenerators/StringExtensions.cs
  src/Socially.sln
Due: pipelines/android.yaml

validation generation
  src/Socially.Mobile.Logic/Models/LoginModel.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/LoginModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/PasswordResetModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/PostDisplayModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/SignUpModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/PasswordResetModel.g.cs
  src/Socially.Mobile.Logic/Models/PostDisplayModel.g.cs
  src/Socially.Mobile.Logic/Models/SignUpModel.g.cs
  src/Socially.Utils.CodeGenerators/GenerateUtil.cs
  src/Socially.Utils.CodeGenerators/StringExtensions.cs
Due: pipelines/android.yaml

using ObservableObject
  src/Socially.Mobile.Logic/Models/LoginModel.g.cs
  src/Socially.Mobile.Logic/Models/PasswordResetModel.g.cs
  src/Socially.Mobile.Logic/Models/PostDisplayModel.g.cs
  src/Socially.Mobile.Logic/Models/SignUpModel.g.cs
  src/Socially.Utils.CodeGenerators/GenerateUtil.cs
Due: pipelines/android.yaml

login tested
  src/Socially.Mobile.Logic.Tests/Utils/ValidationExtensions.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/LoginViewModelTests.cs
  src/Socially.Mobile.Logic/Services/ISocialLogger.cs
  src/Socially.Mobile.Logic/Utils/ExceptionExtensions.cs
  src/Socially.Mobile.Logic/ViewModels/LoginViewModel.cs
Due: pipelines/android.yaml

home navigation
  src/Socially.Mobile.Logic.Tests/ViewModels/LoginViewModelTests.cs
  src/Socially.Mobile.Logic/Services/INavigation.cs
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
  src/Socially.Utils.CodeGenerators/GenerateUtil.cs
Due: pipelines/android.yaml

tested sign up
  src/Socially.Mobile.Logic.Tests/ViewModels/LoginViewModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/SignupViewModelTests.cs
  src/Socially.Mobile.Logic/Services/IMessaging.cs
  src/Socially.Mobile.Logic/ViewModels/LoginViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/SignupViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
Due: pipelines/android.yaml

forgot password setup
  src/Socially.Mobile.Logic.Tests/ViewModels/ForgotPasswordViewModelTests.cs
  src/Socially.Mobile.Logic/Models/ForgotPasswordModel.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/ForgotPasswordModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/ViewModels/ForgotPasswordViewModel.cs
  src/Socially.Utils.CodeGenerators/Program.cs
Due: pipelines/android.yaml

abstraction
  src/Socially.Mobile.Logic.Tests/ViewModels/ForgotPasswordViewModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/LoginViewModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/SignupViewModelTests.cs
  src/Socially.Mobile.Logic/ComponentModels/ImagePickerComponentModel.cs
  src/Socially.Mobile.Logic/Models/IValidatable.cs
  src/Socially.Mobile.Logic/Models/Mappings/ProfileUpdateModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/ProfileUpdateModel.g.cs
  src/Socially.Mobile.Logic/ViewModels/AccountViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ForgotPasswordViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/LoginViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/SignupViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
  src/Socially.Utils.CodeGenerators/Program.cs
Due: pipelines/android.yaml

fixed abstraction
  src/Socially.Mobile.Logic/Models/ForgotPasswordModel.g.cs
  src/Socially.Mobile.Logic/Models/IValidatable.cs
  src/Socially.Mobile.Logic/Models/LoginModel.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/ForgotPasswordModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/LoginModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/PasswordResetModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/PostDisplayModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/ProfileUpdateModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/SignUpModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/PasswordResetModel.g.cs
  src/Socially.Mobile.Logic/Models/PostDisplayModel.g.cs
  src/Socially.Mobile.Logic/Models/ProfileUpdateModel.g.cs
  src/Socially.Mobile.Logic/Models/SignUpModel.g.cs
  src/Socially.Mobile.Logic/ViewModels/AccountViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ForgotPasswordViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/LoginViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/SignupViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
  src/Socially.Utils.CodeGenerators/GenerateUtil.cs
  src/Socially.Utils.CodeGenerators/Program.cs
Due: pipelines/android.yaml

fixed validation for all attributes
  src/Socially.Mobile.Logic.Tests/ViewModels/AccountViewModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/SignupViewModelTests.cs
  src/Socially.Mobile.Logic/Models/ForgotPasswordModel.g.cs
  src/Socially.Mobile.Logic/Models/LoginModel.g.cs
  src/Socially.Mobile.Logic/Models/PasswordResetModel.g.cs
  src/Socially.Mobile.Logic/Models/PostDisplayModel.g.cs
  src/Socially.Mobile.Logic/Models/ProfileUpdateModel.g.cs
  src/Socially.Mobile.Logic/Models/SignUpModel.g.cs
  src/Socially.Mobile.Logic/ViewModels/AccountViewModel.cs
  src/Socially.Utils.CodeGenerators/GenerateUtil.cs
Due: pipelines/android.yaml

image picker tested
  src/Socially.Mobile.Logic.Tests/ComponentModels/ImagePickerComponentModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/AccountViewModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/SignupViewModelTests.cs
  src/Socially.Mobile.Logic/ComponentModels/ImagePickerComponentModel.cs
  src/Socially.Models/ImageUploadModel.cs
Due: pipelines/android.yaml

implimented home view model
  src/Socially.Mobile.Logic.Tests/ViewModels/HomeViewModelTests.cs
  src/Socially.Mobile.Logic/Models/Mappings/ForgotPasswordModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/LoginModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/PasswordResetModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/PostDisplayModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/ProfileUpdateModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/SignUpModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/ViewModels/HomeViewModel.cs
  src/Socially.Utils.CodeGenerators/GenerateUtil.cs
Due: pipelines/android.yaml

model generation
  src/Socially.Mobile.Logic/Models/Mappings/ForgotPasswordModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/LoginModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/PasswordResetModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/PostDisplayModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/ProfileUpdateModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/Mappings/SignUpModelMappingExtensions.g.cs
  src/Socially.Utils.CodeGenerators/GenerateUtil.cs
Due: pipelines/android.yaml

profile posts
  src/Socially.Mobile.Logic.Tests/ComponentModels/ProfilePostsComponentModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/HomeViewModelTests.cs
  src/Socially.Mobile.Logic/ComponentModels/ProfilePostsComponentModel.cs
Due: pipelines/android.yaml

profile setup
  src/Socially.Mobile.Logic.Tests/ComponentModels/ProfileFriendsComponentModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/ProfileViewModelTests.cs
  src/Socially.Mobile.Logic/ComponentModels/ProfileFriendsComponentModel.cs
  src/Socially.Mobile.Logic/Models/Mappings/UserSummaryModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/UserSummaryModel.g.cs
  src/Socially.Mobile.Logic/ViewModels/ProfileViewModel.cs
  src/Socially.Utils.CodeGenerators/Program.cs
Due: pipelines/android.yaml

mobile tests
  pipelines/validation.yaml
Due: none

versioning test
  pipelines/android-deploy.yaml
Due: none

versioning by james
  pipelines/android-deploy.yaml
Due: none

always copy manifest
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

forced continue
  pipelines/android-deploy.yaml
Due: none

forced version number
  src/Socially.MobileApp/Platforms/Android/AndroidManifest.xml
Due: pipelines/android.yaml
