Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android-deploy.yaml, pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

pipelines/android-deploy.yaml:
  pool:
    vmImage: ubuntu-latest
  name: $(majorVersion).$(minorVersion).$(Build.BuildId)
  stages:
  - stage: Compile
    jobs:
    - job: CompileMAUI
      displayName: Compile MAUI
      steps:
      - script: dotnet workload install maui-android
        displayName: Installing maui workload
  ...

pipelines/android.yaml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    displayName: Build App
    jobs:
    - job: XamarinCompile
      displayName: Building xamarin android
      steps:
      - task: file-creator@5
        displayName: Create config file
        inputs:
          filepath: $(configPath)
  ...

pipelines/api-CI.yaml:
  pool:
    vmImage: ubuntu-18.04
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk
    inputs:
      packageType: sdk
      version: 5.0.100-preview.2.20176.6
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@1
    displayName: Tests for API
    inputs:
      command: test
  ...

pipelines/webAPI.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Compile API
    jobs:
    - job: DotnetBuild
      displayName: Building and Publishing
      steps:
      - script: 'mkdir publishes
  
          dotnet publish $(projectPath) -c release -o published
  
  ...

pipelines/website.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Building
      steps:
      - script: 'dotnet publish $(projectPath) -c release -o published
  
          # mkdir publishes
  
          # tar -czvf publishes/packed.tar.gz -C published .
  
          '
        displayName: building blazor
  ...

handling signalr enqueue on delete
  src/Socially.Server.Managers/IPostManager.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.WebAPI/Endpoints/PostEndpoints.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

fixed tests
  src/Socially.Mobile.Logic/Generated/Models/DisplayCommentModel.g.cs
  src/Socially.Mobile.Logic/Generated/Models/UserSummaryModel.g.cs
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.Website/Components/CommentsDisplay.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

storage configs
  src/Socially.Models/Socially.Models.csproj
Due: pipelines/android.yaml

storage configs
  pipelines/recreate-service.yml
  src/Socially.Models/Socially.Models.csproj
  src/Socially.Utils.SimpleAzCopy/Program.cs
  src/Socially.Utils.SimpleAzCopy/Socially.Utils.SimpleAzCopy.csproj
Due: pipelines/android.yaml, pipelines/website.yaml

fixed wrong namespace
  src/Socially.Utils.SimpleAzCopy/Program.cs
Due: pipelines/android.yaml, pipelines/website.yaml

ensure integrations roun seperate
  pipelines/validation.yaml
Due: none

fixed hub endpint
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
  src/Socially.Website/Services/SignalRListener.cs
  src/Socially.Website/Socially.Website.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

running tests as stages
  pipelines/validation.yaml
Due: none

mocking out signalr logic
  src/Socially.Apps.Consumer/Services/ICacheUpdater.cs
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI/Endpoints/PostEndpoints.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/ISignalRPublisher.cs
  src/Socially.WebAPI/Services/SignalrPublisher.cs
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
  src/Socially.Website/Services/CacheUpdater.cs
  src/Socially.Website/Services/SignalRListener.cs
  src/Socially.Website/Utils/ConsoleUtils.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

removed stage
  pipelines/validation.yaml
Due: none

mocking signalr conn string
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
Due: pipelines/android.yaml

conditional to handle signalR
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

adding "required service"
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

linking listener to AUTH
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/SignalRListener.cs
Due: pipelines/android.yaml, pipelines/website.yaml

post listening setup
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.Website/Pages/Index.razor.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/SignalRListener.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

passing params as string
  src/Socially.Server.DataAccess/TableAccess.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.Website/Pages/Index.razor.cs
  src/Socially.Website/Services/SignalRListener.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

fixed client connecting
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
  src/Socially.Website/Services/SignalRListener.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

fixed while loop
  src/Socially.WebAPI/Services/SignalrPublisher.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

updating posts to two for testing
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.Website/Services/SignalRListener.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

updated signalr versions
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.Website/Services/SignalRListener.cs
  src/Socially.Website/Socially.Website.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

post setup v2
  src/Socially.Server.DataAccess/RealTimeDbContext.cs
  src/Socially.Server.DataAccess/RealTimeManager.cs
  src/Socially.Server.Entities/PostRealTime.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

add comment
  src/Socially.Server.DataAccess/IRealTimeManager.cs
  src/Socially.Server.DataAccess/RealTimeManager.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.WebAPI/Utils/ScopableServiceProvider.cs
  src/Socially.WebAPI/Utils/ServiceProviderExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

sending the comment
  src/Socially.Server.Managers/IPostManager.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.WebAPI/Utils/ScopableServiceProvider.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

nugets updated
  src/Socially.Mobile.Logic.Tests/Socially.Mobile.Logic.Tests.csproj
  src/Socially.Mobile.Logic/Socially.Mobile.Logic.csproj
  src/Socially.MobileApp/Socially.MobileApp.csproj
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Entities/Socially.Server.Entities.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Utils.SimpleAzCopy/Socially.Utils.SimpleAzCopy.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Endpoints/PostEndpoints.cs
  src/Socially.Website/Socially.Website.csproj
Due: pipelines/android-deploy.yaml, pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

client adding comment using signalr
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Services/SignalRListener.consumer.cs
  src/Socially.Website/Services/SignalRListener.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

adding comments via signalR
  src/Socially.Server.DataAccess/RealTimeDbContext.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.WebAPI/Middlewares/CurrentSetupMiddleware.cs
  src/Socially.WebAPI/Utils/AuthExtensions.cs
  src/Socially.WebAPI/Utils/ServiceExtensions.cs
  src/Socially.Website/Pages/Index.razor.cs
  src/Socially.Website/Services/SignalRListener.cs
  src/Socially.Website/Socially.Website.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

errors full circle
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.WebAPI/Services/HubScope.cs
  src/Socially.WebAPI/Utils/ScopableServiceProvider.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

patched errors
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

logging error
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

using lists for all collections
  src/Socially.Mobile.Logic.Generator/GenerateCode.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/AddCommentModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/AddPostModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/DisplayCommentModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/ForgotPasswordModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/LoginModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/PasswordResetModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/PostDisplayModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/ProfileUpdateModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/SignUpModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/UserSummaryModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/PostDisplayModel.g.cs
  src/Socially.Models/PostDisplayModel.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Models/RealtimeEventArgs/CommentAddedEventArgs.cs
  src/Socially.Website/Services/SignalRListener.consumer.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

rolled back to list
  src/Socially.Mobile.Logic.Generator/GenerateCode.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/AddCommentModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/AddPostModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/DisplayCommentModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/ForgotPasswordModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/LoginModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/PasswordResetModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/PostDisplayModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/ProfileUpdateModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/SignUpModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/UserSummaryModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/PostDisplayModel.g.cs
  src/Socially.Models/PostDisplayModel.cs
Due: pipelines/android.yaml

fixed comments updating
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Services/SignalRListener.cs
Due: pipelines/android.yaml, pipelines/website.yaml

comment display with loading icon
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Components/Loader.razor
  src/Socially.Website/Models/RealtimeEventArgs/CommentAddedEventArgs.cs
  src/Socially.Website/Models/RealtimeEventArgs/CompletedEventArgs.cs
  src/Socially.Website/Pages/Account/EditAccount.razor
  src/Socially.Website/Pages/Counter.razor
  src/Socially.Website/Services/SignalRListener.consumer.cs
  src/Socially.sln
Due: pipelines/android.yaml, pipelines/website.yaml

clean up on complete
  src/Socially.Website/Components/CommentsDisplay.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

fixing api consumers
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
Due: pipelines/android.yaml, pipelines/website.yaml

on error setup
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Models/RealtimeEventArgs/ErrorEventArgs.cs
  src/Socially.Website/Services/SignalRListener.consumer.cs
Due: pipelines/android.yaml, pipelines/website.yaml

error message in c#
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Models/RealtimeEventArgs/ErrorEventArgs.cs
  src/Socially.Website/Services/SignalRListener.consumer.cs
Due: pipelines/android.yaml, pipelines/website.yaml

profile page listening
  src/Socially.Website/Pages/Profile/Profile.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

comment delete on signalr
  src/Socially.Server.Managers/IPostManager.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.WebAPI/Endpoints/PostEndpoints.cs
  src/Socially.WebAPI/Hubs/DataUpdatesHub.cs
  src/Socially.Website/Models/RealtimeEventArgs/CommentDeletedEventArgs.cs
  src/Socially.Website/Services/SignalRListener.consumer.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

delete comment in realtime
  src/Socially.Website/Components/CommentsDisplay.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

Path conditions:
  pipelines/android-deploy.yaml: any of: src/Socially.MobileApp, pipelines/android-deploy.yaml
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, src/Socially.Utils.SimpleAzCopy, pipelines/website.yaml
