Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

pipelines/android.yaml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    displayName: Build App
    jobs:
    - job: XamarinCompile
      displayName: Building xamarin android
      steps:
      - task: file-creator@5
        displayName: Create config file
        inputs:
          filepath: $(configPath)
  ...

pipelines/api-CI.yaml:
  pool:
    vmImage: ubuntu-18.04
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk
    inputs:
      packageType: sdk
      version: 5.0.100-preview.2.20176.6
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@1
    displayName: Tests for API
    inputs:
      command: test
  ...

pipelines/webAPI.yaml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: Shared\netcore-ubuntu.yml@templates
    parameters:
      usePreRelease: true
      projectPath: src/Socially.WebAPI
      tempFolderName: sociallyTemp
      projectName: Socially.WebAPI
      destDirectory: \/var\/www\/socially
      port: 5030
      service:
  ...

pipelines/website.yaml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: Shared\netcore-ubuntu.yml@templates
    parameters:
      useVersion: 6.0.301
      projectPath: src/Socially.Website
      projectName: Socially.Website
      destDirectory: /var/www/sociallySite
      port: 5075
      service:
  ...

fixed test
  src/Socially.WebAPI/Program.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

working integration tests
  pipelines/webAPI.yaml
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI/Models/TokenRequest.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.WebAPI/Utils/JwtCompleteExtensions.cs
  src/Socially.WebAPI/Utils/TokenInfo.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

using new configs
  src/Socially.Core/Models/ProfileSummary.cs
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Utils/JwtCompleteExtensions.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

fixed integration testing
  src/Socially.Core/Models/LoginModel.cs
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI/Services/UserService.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

setup source with website
  src/Socially.Website/Pages/Login.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

validation pipeline
  pipelines/validation.yaml
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

Update README.md
  README.md
Due: none

forced change
  src/Socially.WebAPI/Program.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

false source
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
Due: pipelines/android.yaml

fixed tests
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
Due: pipelines/android.yaml

broken
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
Due: pipelines/android.yaml

fixed
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
Due: pipelines/android.yaml

broken arrow
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
Due: pipelines/android.yaml

fixed merge
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
Due: pipelines/android.yaml

app insights
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.sln
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

pipeline update for variable
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

profile updater
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.Website/Pages/Account/AccountLayout.razor
  src/Socially.Website/Pages/Account/EditAccount.razor
  src/Socially.Website/Pages/Account/EditAccount.razor.cs
  src/Socially.Website/Pages/Index.razor
  src/Socially.Website/Pages/Login.razor
  src/Socially.Website/Pages/Login.razor.cs
  src/Socially.Website/Shared/MainLayout.razor
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

token table
  src/Socially.Core/Entities/UserRefreshToken.cs
  src/Socially.Server.DataAccess/ApplicationDbContext.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

nugets update
  src/Socially.Core/Socially.Core.csproj
  src/Socially.Server.DataAccess/Migrations/20220810090919_RefreshToken.Designer.cs
  src/Socially.Server.DataAccess/Migrations/20220810090919_RefreshToken.cs
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Server.Services/Socially.Server.Services.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.Website/Socially.Website.csproj
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

unit tested token verification
  src/Socially.Core/Entities/UserRefreshToken.cs
  src/Socially.Core/Socially.Core.csproj
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/IUserProfileManager.cs
  src/Socially.Server.Managers/UserProfileManager.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

unit tested refresh token
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/IUserProfileManager.cs
  src/Socially.Server.Managers/UserProfileManager.cs
Due: pipelines/android.yaml

integration tested refresh tokens
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.Core/Models/TokenRenewRequestModel.cs
  src/Socially.Core/Models/TokenResponseModel.cs
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/IUserProfileManager.cs
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Endpoints/ProfileEndpoints.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/IUserService.cs
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.WebAPI/Utils/TokenInfo.cs
  src/Socially.Website/Pages/Login.razor.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

explained integraiton test
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
Due: pipelines/android.yaml

token refreshing!
  src/Socially.Server.Managers/IUserProfileManager.cs
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.WebAPI/Utils/TokenInfo.cs
  src/Socially.Website/Components/AuthConditional.razor
  src/Socially.Website/Components/AuthConditional.razor.cs
  src/Socially.Website/Pages/Login.razor.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/AuthProvider.cs
  src/Socially.Website/Services/AuthService.cs
  src/Socially.Website/Services/WebHttpHandler.cs
  src/Socially.Website/Shared/MainLayout.razor.cs
  src/Socially.Website/Socially.Website.csproj
  src/Socially.Website/_Imports.razor
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

fixed endpoint
  src/Socially.Website/Program.cs
Due: pipelines/android.yaml, pipelines/website.yaml

fixed signout
  src/Socially.Website/Services/AuthProvider.cs
  src/Socially.Website/wwwroot/js/inter-act.js
Due: pipelines/android.yaml, pipelines/website.yaml

dynamic endpoints
  src/Socially.WebAPI/Program.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/wwwroot/appsettings.Production.json
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

reset password
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.Core/Models/PasswordResetModel.cs
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Endpoints/ProfileEndpoints.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/IUserService.cs
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.Website/Pages/Account/EditAccount.razor
  src/Socially.Website/Pages/Account/EditAccount.razor.cs
  src/Socially.Website/Program.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

validation on user info
  src/Socially.Website/Pages/Account/EditAccount.razor
Due: pipelines/android.yaml, pipelines/website.yaml

forgot password with configs
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.Core/Models/ForgotPasswordModel.cs
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.Server.Managers/IUserProfileManager.cs
  src/Socially.Server.Managers/UserProfileManager.cs
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI.IntegrationTests/Utils/ServiceHelperExtensions.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Models/ConfigsSettings.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/IUserService.cs
  src/Socially.WebAPI/Services/UserService.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.Website/Models/LoginEvent.cs
  src/Socially.Website/Models/TokenRequest.cs
  src/Socially.Website/Pages/Account/EditAccount.razor.cs
  src/Socially.Website/Pages/Account/ForgotPassword.razor
  src/Socially.Website/Pages/Account/ForgotPassword.razor.cs
  src/Socially.Website/Pages/Login.razor
  src/Socially.Website/Pages/Login.razor.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Services/AuthProvider.cs
  src/Socially.Website/Services/WebHttpHandler.cs
  src/Socially.Website/Shared/MainLayout.razor.cs
  src/Socially.Website/Shared/SociallyLayoutBase.cs
  src/Socially.Website/Socially.Website.csproj
  src/Socially.Website/_Imports.razor
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

clear up on done
  src/Socially.Website/Pages/Account/ForgotPassword.razor
  src/Socially.Website/Pages/Account/ForgotPassword.razor.cs
  src/Socially.Website/Pages/Login.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

fixed auth
  src/Socially.Website/App.razor
  src/Socially.Website/Pages/Account/EditAccount.razor
  src/Socially.Website/Pages/Account/ForgotPassword.razor
  src/Socially.Website/Pages/Login.razor
  src/Socially.Website/Services/CustomRoute.cs
  src/Socially.Website/Shared/MainLayout.razor
  src/Socially.Website/_Imports.razor
Due: pipelines/android.yaml, pipelines/website.yaml

pipelines settings for emailing
  pipelines/webAPI.yaml
  src/Socially.WebAPI/Program.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

fixed URL decode
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
Due: pipelines/android.yaml

fixing layout of forgot password
  src/Socially.Website/Pages/Account/ForgotPassword.razor
  src/Socially.Website/wwwroot/index.html
Due: pipelines/android.yaml, pipelines/website.yaml

unit tested image manager
  src/Socially.Core/Entities/ProfileImage.cs
  src/Socially.Core/Entities/User.cs
  src/Socially.Core/Models/ImageUploadModel.cs
  src/Socially.Core/Socially.Core.csproj
  src/Socially.Server.DataAccess/ApplicationDbContext.cs
  src/Socially.Server.DataAccess/BlobAccess.cs
  src/Socially.Server.DataAccess/IBlobAccess.cs
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Managers.Tests/ImageManagerTests.cs
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Server.Managers/IImageManager.cs
  src/Socially.Server.Managers/ImageManager.cs
  src/Socially.WebAPI/Endpoints/ImagesEndpoints.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Services/IImagesService.cs
  src/Socially.WebAPI/Services/ImagesService.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

upload context
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.Apps.Consumer/Utils/ModelExtensions.cs
  src/Socially.Core/Models/ImageUploadModel.cs
  src/Socially.Core/Models/UploadContext.cs
  src/Socially.WebAPI/Endpoints/ImagesEndpoints.cs
  src/Socially.WebAPI/Services/IImagesService.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

dynamic forms
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Utils/ModelExtensions.cs
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI.IntegrationTests/ImageTests.cs
  src/Socially.WebAPI.IntegrationTests/Utils/ServiceHelperExtensions.cs
  src/Socially.WebAPI/Endpoints/ImagesEndpoints.cs
  src/Socially.WebAPI/Program.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

fixed test race conditions
  src/Socially.Server.Managers.Tests/ImageManagerTests.cs
  src/Socially.Server.Managers.Tests/TestBase.cs
  src/Socially.Server.Managers.Tests/UserProfileManagerTests.cs
  src/Socially.WebAPI/Endpoints/ImagesEndpoints.cs
  src/Socially.WebAPI/Utils/FormBinder.cs
Due: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml

Path conditions:
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, pipelines/website.yaml
