Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/android.yaml, pipelines/api-CI.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

pipelines/android.yaml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    displayName: Build App
    jobs:
    - job: XamarinCompile
      displayName: Building xamarin android
      steps:
      - task: file-creator@5
        displayName: Create config file
        inputs:
          filepath: $(configPath)
  ...

pipelines/api-CI.yaml:
  pool:
    vmImage: ubuntu-18.04
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk
    inputs:
      packageType: sdk
      version: 5.0.100-preview.2.20176.6
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@1
    displayName: Tests for API
    inputs:
      command: test
  ...

pipelines/webAPI.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Compile API
    jobs:
    - job: DotnetBuild
      displayName: Building and Publishing
      steps:
      - script: 'mkdir publishes
  
          dotnet publish $(projectPath) -c release -o published
  
  ...

pipelines/website.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Building
      steps:
      - script: 'dotnet publish $(projectPath) -c release -o published
  
          # mkdir publishes
  
          # tar -czvf publishes/packed.tar.gz -C published .
  
          '
        displayName: building blazor
  ...

component and component model mapping
  src/Socially.MobileApp.Generator/GenerateCode.cs
  src/Socially.MobileApp/Components/CommentDisplay.xaml.cs
  src/Socially.MobileApp/Generated/Components/CommentDisplay.g.cs
  src/Socially.MobileApp/Generated/Components/PostDisplay.g.cs
  src/Socially.MobileApp/Generated/MauiProgram.g.cs
Due: pipelines/android.yaml

profile header layout setup
  src/Socially.MobileApp/Components/PostDisplay.xaml
  src/Socially.MobileApp/Components/ProfileHeader.xaml
  src/Socially.MobileApp/Components/ProfileHeader.xaml.cs
  src/Socially.MobileApp/Layouts/MainLayout.cs
  src/Socially.MobileApp/Pages/HomePage.xaml
  src/Socially.MobileApp/Pages/ProfilePostsPage.xaml
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

profile header
  src/Socially.Mobile.Logic.Generator/GenerateCode.cs
  src/Socially.Mobile.Logic/ComponentModels/ProfileHeaderComponentModel.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/DisplayCommentModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/ForgotPasswordModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/LoginModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/PasswordResetModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/PostDisplayModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/ProfileUpdateModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/SignUpModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/UserSummaryModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Models/UserSummaryModel.cs
  src/Socially.Mobile.Logic/Services/CachedContext.cs
  src/Socially.Mobile.Logic/Services/ICachedContext.cs
  src/Socially.Mobile.Logic/Services/ICachedNoSqlStorage.cs
  src/Socially.MobileApp/Components/ProfileHeader.xaml
  src/Socially.MobileApp/Components/ProfileHeader.xaml.cs
  src/Socially.MobileApp/Generated/Components/ProfileHeader.g.cs
  src/Socially.MobileApp/Generated/MauiProgram.g.cs
  src/Socially.MobileApp/Resources/Styles/Colors.xaml
  src/Socially.MobileApp/Services/CachedNoSqlStorage.cs
Due: pipelines/android.yaml

button placement
  src/Socially.MobileApp/Components/ProfileHeader.xaml
  src/Socially.MobileApp/Components/ProfileHeader.xaml.cs
  src/Socially.MobileApp/Components/ProfileNavButton.xaml
  src/Socially.MobileApp/Components/ProfileNavButton.xaml.cs
  src/Socially.MobileApp/Resources/Styles/Colors.xaml
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

partly aligned grid
  src/Socially.MobileApp/Components/ProfileHeader.xaml
  src/Socially.MobileApp/Components/ProfileHeader.xaml.cs
Due: pipelines/android.yaml

profile menu layout
  src/Socially.MobileApp/Components/ProfileHeader.xaml
  src/Socially.MobileApp/Components/ProfileHeader.xaml.cs
  src/Socially.MobileApp/Resources/Styles/Colors.xaml
Due: pipelines/android.yaml

formatted menu items
  src/Socially.Mobile.Logic/Services/INavigationControl.cs
  src/Socially.Mobile.Logic/ViewModels/ProfileFriendsViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ProfileRequestsViewModel.cs
  src/Socially.MobileApp/AppShell.xaml.cs
  src/Socially.MobileApp/Components/ProfileHeader.xaml
  src/Socially.MobileApp/Components/ProfileHeader.xaml.cs
  src/Socially.MobileApp/Generated/MauiProgram.g.cs
  src/Socially.MobileApp/Generated/Pages/ProfileRequestsPage.g.cs
  src/Socially.MobileApp/Pages/ProfilePostsPage.xaml
  src/Socially.MobileApp/Pages/ProfileRequestsPage.xaml
  src/Socially.MobileApp/Pages/ProfileRequestsPage.xaml.cs
  src/Socially.MobileApp/Services/NavigationControl.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

account layout
  src/Socially.Mobile.Logic/Services/IMessaging.cs
  src/Socially.Mobile.Logic/Services/INavigationControl.cs
  src/Socially.Mobile.Logic/ViewModels/AccountViewModel.cs
  src/Socially.MobileApp/AppShell.xaml.cs
  src/Socially.MobileApp/Components/LoginEntry.xaml.cs
  src/Socially.MobileApp/Components/TabMenu.xaml.cs
  src/Socially.MobileApp/Generated/MauiProgram.g.cs
  src/Socially.MobileApp/Generated/Pages/AccountPage.g.cs
  src/Socially.MobileApp/Pages/AccountPage.xaml
  src/Socially.MobileApp/Pages/AccountPage.xaml.cs
  src/Socially.MobileApp/Services/Messaging.cs
  src/Socially.MobileApp/Services/NavigationControl.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

date of time
  src/Socially.Mobile.Logic/ViewModels/AccountViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
  src/Socially.MobileApp/App.xaml
  src/Socially.MobileApp/Converters/DateTimeToBoolConverter.cs
  src/Socially.MobileApp/Pages/AccountPage.xaml
Due: pipelines/android.yaml

image picker flow
  src/Socially.Mobile.Logic.Tests/ComponentModels/ImagePickerComponentModelTests.cs
  src/Socially.Mobile.Logic/Services/INavigationControl.cs
  src/Socially.Mobile.Logic/ViewModels/AccountViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ImagePickerViewModel.cs
  src/Socially.MobileApp/AppShell.xaml.cs
  src/Socially.MobileApp/Generated/MauiProgram.g.cs
  src/Socially.MobileApp/Generated/Pages/ImagePickerPage.g.cs
  src/Socially.MobileApp/Pages/AccountPage.xaml
  src/Socially.MobileApp/Pages/ImagePickerPage.xaml
  src/Socially.MobileApp/Pages/ImagePickerPage.xaml.cs
  src/Socially.MobileApp/Services/NavigationControl.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

image picker
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
  src/Socially.MobileApp/Pages/AccountPage.xaml
  src/Socially.MobileApp/Pages/ImagePickerPage.xaml
Due: pipelines/android.yaml

friends view model
  src/Socially.Mobile.Logic.Tests/Socially.Mobile.Logic.Tests.csproj
  src/Socially.Mobile.Logic.Tests/ViewModels/AccountViewModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/HomeViewModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/ImagePickerViewModelTests.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/ProfilePostsViewModelTests.cs
  src/Socially.Mobile.Logic/ViewModels/ProfileFriendsViewModel.cs
  src/Socially.MobileApp/Pages/ProfileFriendsPage.xaml
Due: pipelines/android.yaml

grouped friends
  src/Socially.Mobile.Logic/Models/GroupedUsers.cs
  src/Socially.Mobile.Logic/ViewModels/ProfileFriendsViewModel.cs
  src/Socially.MobileApp/Components/ProfileHeader.xaml
  src/Socially.MobileApp/Pages/ProfileFriendsPage.xaml
Due: pipelines/android.yaml

profile images
  src/Socially.Mobile.Logic/Services/INavigationControl.cs
  src/Socially.Mobile.Logic/ViewModels/ProfileImagesViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ProfileRequestsViewModel.cs
  src/Socially.MobileApp/AppShell.xaml.cs
  src/Socially.MobileApp/Components/ProfileHeader.xaml
  src/Socially.MobileApp/Components/ProfileHeader.xaml.cs
  src/Socially.MobileApp/Generated/MauiProgram.g.cs
  src/Socially.MobileApp/Generated/Pages/ProfileImagesPage.g.cs
  src/Socially.MobileApp/Pages/ProfileImagesPage.xaml
  src/Socially.MobileApp/Pages/ProfileImagesPage.xaml.cs
  src/Socially.MobileApp/Pages/ProfileRequestsPage.xaml
  src/Socially.MobileApp/Pages/ProfileRequestsPage.xaml.cs
  src/Socially.MobileApp/Services/NavigationControl.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

removed "batman"
  src/Socially.MobileApp/Pages/ProfileFriendsPage.xaml
Due: pipelines/android.yaml

release notes
  src/ReleaseNotes.txt
Due: pipelines/android.yaml

Friend page margin
  src/ReleaseNotes.txt
  src/Socially.MobileApp/Pages/ProfileFriendsPage.xaml
Due: pipelines/android.yaml

Home page empty message
  src/ReleaseNotes.txt
  src/Socially.MobileApp/Pages/HomePage.xaml
Due: pipelines/android.yaml

pipeline status badges
  README.md
Due: none

removed android APP
  README.md
Due: none

comments created on
  src/Socially.Models/DisplayCommentModel.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.Server.ModelMappings/CommentMappingExtensions.cs
Due: pipelines/android.yaml

login page clean up
  src/Socially.Website/Pages/Login.razor
Due: pipelines/android.yaml, pipelines/website.yaml

updated managers trigger for web api
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

fixing duration
  src/Socially.ClientUtils/DateExtensions.cs
  src/Socially.ClientUtils/EnumerableExtensions.cs
  src/Socially.ClientUtils/Socially.ClientUtils.csproj
  src/Socially.MobileApp/Converters/TimeToDurationConverter.cs
  src/Socially.MobileApp/Socially.MobileApp.csproj
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/PostDisplay.razor
  src/Socially.Website/Components/PostsDisplay.razor
  src/Socially.Website/Socially.Website.csproj
  src/Socially.Website/_Imports.razor
  src/Socially.sln
Due: pipelines/android.yaml, pipelines/website.yaml

likes functionality
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Components/PostDisplay.razor
  src/Socially.Website/Components/PostDisplay.razor.cs
  src/Socially.Website/Components/PostsDisplay.razor
  src/Socially.Website/Components/PostsDisplay.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

current user liked bool
  src/Socially.Models/PostDisplayModel.cs
  src/Socially.Server.Managers/PostManager.cs
Due: pipelines/android.yaml

fetching comments liked info
  src/Socially.Models/DisplayCommentModel.cs
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.Server.ModelMappings/CommentMappingExtensions.cs
Due: pipelines/android.yaml

like binding
  src/Socially.Server.Managers/PostManager.cs
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/CommentsDisplay.razor.cs
  src/Socially.Website/Components/PostsDisplay.razor
  src/Socially.Website/Components/PostsDisplay.razor.cs
Due: pipelines/android.yaml, pipelines/website.yaml

username binding
  src/Socially.Mobile.Logic/Generated/Models/DisplayCommentModel.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/DisplayCommentModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/PostDisplayModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/UserSummaryModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/PostDisplayModel.g.cs
  src/Socially.Mobile.Logic/Generated/Models/UserSummaryModel.g.cs
  src/Socially.Models/UserSummaryModel.cs
  src/Socially.Server.ModelMappings/UserMappingExtensions.cs
  src/Socially.Website/Components/CommentsDisplay.razor
  src/Socially.Website/Components/PostsDisplay.razor
  src/Socially.Website/Components/UserImagesPicker.razor
  src/Socially.Website/Pages/Index.razor
  src/Socially.Website/Pages/Profile/Friends.razor
  src/Socially.Website/Pages/Profile/ProfileLayout.razor
  src/Socially.Website/Shared/NavMenu.razor
  src/Socially.Website/Utils/UserExtensions.cs
  src/Socially.Website/_Imports.razor
Due: pipelines/android.yaml, pipelines/website.yaml

fixed dropdown item not closing
  src/Socially.Website/wwwroot/js/scripts.js
  src/Socially.Website/wwwroot/js/theme.js
Due: pipelines/android.yaml, pipelines/website.yaml

display name clean ups
  src/Socially.ClientUtils/DateExtensions.cs
  src/Socially.ClientUtils/EnumerableExtensions.cs
  src/Socially.ClientUtils/PostExtensions.cs
  src/Socially.ClientUtils/Socially.ClientUtils.csproj
  src/Socially.ClientUtils/UserExtensions.cs
  src/Socially.MobileApp/Converters/TimeToDurationConverter.cs
  src/Socially.Website/Components/PostsDisplay.razor.cs
  src/Socially.Website/Pages/Profile/Profile.razor.cs
  src/Socially.Website/Pages/Profile/ProfileLayout.razor
  src/Socially.Website/Services/CachedContext.cs
  src/Socially.Website/_Imports.razor
Due: pipelines/android.yaml, pipelines/website.yaml

fixed exceptions on log out
  src/Socially.Website/Properties/launchSettings.json
  src/Socially.Website/Services/CachedContext.cs
Due: pipelines/android.yaml, pipelines/website.yaml

updated validation badge
  README.md
Due: none

fixed catcher locks
  src/Socially.ClientUtils/AsyncLocker.cs
  src/Socially.Website/Pages/FetchData.razor
  src/Socially.Website/Services/CachedContext.cs
  src/Socially.Website/wwwroot/js/scripts.js
Due: pipelines/android.yaml, pipelines/website.yaml

caching clean up
  src/Socially.Website/Services/CachedContext.cs
Due: pipelines/android.yaml, pipelines/website.yaml

pull to refresh
  src/ReleaseNotes.txt
  src/Socially.Mobile.Logic/ViewModels/HomeViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ProfileFriendsViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ProfileImagesViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ProfilePostsViewModel.cs
  src/Socially.MobileApp/Pages/HomePage.xaml
  src/Socially.MobileApp/Pages/ProfileFriendsPage.xaml
  src/Socially.MobileApp/Pages/ProfileImagesPage.xaml
  src/Socially.MobileApp/Pages/ProfilePostsPage.xaml
Due: pipelines/android.yaml

add with profile picture
  src/ReleaseNotes.txt
  src/Socially.Mobile.Logic.Generator/Program.cs
  src/Socially.Mobile.Logic.Tests/ViewModels/ProfilePostsViewModelTests.cs
  src/Socially.Mobile.Logic/Generated/Models/AddCommentModel.g.cs
  src/Socially.Mobile.Logic/Generated/Models/AddPostModel.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/AddCommentModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Generated/Models/Mappings/AddPostModelMappingExtensions.g.cs
  src/Socially.Mobile.Logic/Services/CachedContext.cs
  src/Socially.Mobile.Logic/Services/ICachedContext.cs
  src/Socially.Mobile.Logic/ViewModels/InitialViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ProfilePostsViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ViewModelBase.cs
  src/Socially.MobileApp/Components/AddPostEditor.xaml
  src/Socially.MobileApp/Components/AddPostEditor.xaml.cs
  src/Socially.MobileApp/Components/CurrentProfilePic.cs
  src/Socially.MobileApp/Components/ProfileImage.xaml
  src/Socially.MobileApp/Components/ProfileImage.xaml.cs
  src/Socially.MobileApp/Pages/HomePage.xaml
  src/Socially.MobileApp/Pages/ProfilePostsPage.xaml
  src/Socially.MobileApp/Socially.MobileApp.csproj
Due: pipelines/android.yaml

fixed component
  src/Socially.Mobile.Logic/ViewModels/HomeViewModel.cs
  src/Socially.MobileApp/Components/AddPostEditor.xaml
  src/Socially.MobileApp/Components/AddPostEditor.xaml.cs
  src/Socially.MobileApp/MauiProgram.cs
  src/Socially.MobileApp/Pages/HomePage.xaml
Due: pipelines/android.yaml

binding clean up
  src/Socially.MobileApp/Pages/HomePage.xaml
Due: pipelines/android.yaml

profile add post
  src/Socially.Mobile.Logic/ViewModels/HomeViewModel.cs
  src/Socially.Mobile.Logic/ViewModels/ProfilePostsViewModel.cs
  src/Socially.MobileApp/Components/ProfileHeader.xaml
  src/Socially.MobileApp/Pages/HomePage.xaml
  src/Socially.MobileApp/Pages/ProfilePostsPage.xaml
Due: pipelines/android.yaml

Path conditions:
  pipelines/android.yaml: any of: src
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/Socially.Core, src/Socially.Apps.Consumer, src/Socially.Website, src/Socially.Utils.SimpleAzCopy, pipelines/website.yaml
