Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-CI.yaml, pipelines/webAPI.yaml

pipelines/api-CI.yaml:
  pool:
    vmImage: ubuntu-18.04
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk
    inputs:
      packageType: sdk
      version: 5.0.100-preview.2.20176.6
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@1
    displayName: Tests for API
    inputs:
      command: test
  ...

pipelines/webAPI.yaml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: Shared\netcore-ubuntu.yml@templates
    parameters:
      usePreRelease: true
      projectPath: src/Socially.WebAPI
      tempFolderName: sociallyTemp
      service:
        port: 5030
        directory: \/var\/www\/socially
        dll: Socially.WebAPI.dll
  ...

configs and services
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

rolled back non template
  pipelines/webAPI-backup.txt
  pipelines/webAPI-bk2.txt
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

got it back
  pipelines/webAPI-bk2.txt
  pipelines/webAPI.yaml
  pipelines/webAPI3.yaml
Due: pipelines/webAPI.yaml

updated service name
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

mapping with dynamo
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

quote
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

slash
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

fixed for new shared
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

new dependency injections
  src/Socially.MobileApps.Contracts/IThemeControl.cs
  src/Socially.MobileApps.Contracts/Socially.MobileApps.Contracts.csproj
  src/Socially.MobileApps.ViewModels/SignUpFlowViewModel.cs
  src/Socially.MobileApps.ViewModels/Socially.MobileApps.ViewModels.csproj
  src/Socially.MobileApps/Socially.MobileApps/App.xaml
  src/Socially.MobileApps/Socially.MobileApps/App.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Config/ThemeControl.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/MainPage.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpFlowPage.xaml
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
  src/Socially.sln
Due: none

nuget references
  src/Socially.MobileApps.Models/Socially.MobileApps.Models.csproj
  src/Socially.MobileApps.Services/Socially.MobileApps.Services.csproj
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
  src/Socially.MobileApps/Socially.MobileApps.iOS/Socially.MobileApps.iOS.csproj
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
  src/Socially.MobileApps/Socially.MobileApps/Themes/MirrorTheme.xaml
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.sln
Due: none

updated fluent injector reference
  src/Socially.MobileApps.Models/Socially.MobileApps.Models.csproj
  src/Socially.MobileApps.Services/Socially.MobileApps.Services.csproj
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
  src/Socially.MobileApps/Socially.MobileApps.iOS/Socially.MobileApps.iOS.csproj
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
  src/Socially.MobileApps/Socially.MobileApps/Themes/MirrorTheme.xaml
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.sln
Due: none

updated fluent injector reference
  src/Socially.MobileApps.Services/Socially.MobileApps.Services.csproj
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
  src/Socially.MobileApps/Socially.MobileApps/Themes/MirrorTheme.xaml
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.sln
Due: none

AppThemeColor temperory fix
  src/Socially.MobileApps.Models/Socially.MobileApps.Models.csproj
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
  src/Socially.MobileApps/Socially.MobileApps.iOS/Socially.MobileApps.iOS.csproj
  src/Socially.MobileApps/Socially.MobileApps/App.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
  src/Socially.MobileApps/Socially.MobileApps/Themes/MirrorTheme.xaml
  src/Socially.MobileApps/Socially.MobileApps/Themes/PendantTheme.xaml
  src/Socially.MobileApps/Socially.MobileApps/Themes/TearsTheme.xaml
  src/Socially.MobileApps/Socially.MobileApps/Themes/WindyTheme.xaml
  src/Socially.MobileApps/Socially.MobileApps/Utils/AppThemeColor.cs
Due: none

updated for injector
  src/Socially.MobileApps/Socially.MobileApps/App.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Config/ThemeControl.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/MainPage.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpFlowPage.xaml
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
Due: none

updated pipeline badge
  README.md
Due: none

cleaner signup binding
  src/Socially.MobileApps.Models/SignUpModel.cs
  src/Socially.MobileApps.ViewModels/SignUpFlowViewModel.cs
  src/Socially.MobileApps.ViewModels/SignUpViewModel.cs
  src/Socially.MobileApps.ViewModels/ViewModelBase.cs
  src/Socially.MobileApps/Socially.MobileApps/App.xaml
  src/Socially.MobileApps/Socially.MobileApps/Components/BindingEntry.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/LoginPage.xaml
  src/Socially.MobileApps/Socially.MobileApps/Pages/MainPage.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
Due: none

api response
  src/Socially.MobileApps.Models/ApiResponse.cs
  src/Socially.MobileApps.Services/ApiConsumer.cs
  src/Socially.MobileApps.Services/IApiConsumer.cs
  src/Socially.MobileApps.Services/Socially.MobileApps.Services.csproj
  src/Socially.MobileApps.Services/Utils/HttpExtensions.cs
  src/Socially.MobileApps.ViewModels/SignUpViewModel.cs
  src/Socially.MobileApps.ViewModels/Socially.MobileApps.ViewModels.csproj
  src/Socially.MobileApps.ViewModels/ViewModelBase.cs
  src/Socially.MobileApps/Socially.MobileApps/Components/ActivityIndicatorForCommand.cs
  src/Socially.MobileApps/Socially.MobileApps/Components/BindingEntry.cs
  src/Socially.MobileApps/Socially.MobileApps/Controls/CommandToVisibleBehavior.cs
  src/Socially.MobileApps/Socially.MobileApps/Controls/EventToCommandBehavior.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
Due: none

display error
  src/Socially.MobileApps.ViewModels/SignUpViewModel.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
Due: none

new solution
  src/Socially Apps.sln.sln
  src/Socially.MobileApps/Socially.MobileApps/Controls/BaseBehavior.cs
  src/Socially.MobileApps/Socially.MobileApps/Controls/CommandToVisibleBehavior.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
Due: none

behavior fixed
  src/Socially.MobileApps/Socially.MobileApps/Controls/CommandToVisibleBehavior.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
Due: none

updated nugets
  src/Socially.MobileApps.Models/ApiResponse.cs
  src/Socially.MobileApps.Services/ApiConsumer.cs
  src/Socially.MobileApps.Services/IApiConsumer.cs
  src/Socially.MobileApps.ViewModels/Socially.MobileApps.ViewModels.csproj
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
  src/Socially.MobileApps/Socially.MobileApps.iOS/Socially.MobileApps.iOS.csproj
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
Due: none

fixed nuget updates
  src/Socially.MobileApps.Models/ApiResponse.cs
  src/Socially.MobileApps.Services/ApiConsumer.cs
  src/Socially.MobileApps.Services/IApiConsumer.cs
  src/Socially.MobileApps.ViewModels/Socially.MobileApps.ViewModels.csproj
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
  src/Socially.MobileApps/Socially.MobileApps.iOS/Socially.MobileApps.iOS.csproj
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
Due: none

updated nugets even more
  src/Socially.Core/Socially.Core.csproj
  src/Socially.MobileApps.Models/Socially.MobileApps.Models.csproj
  src/Socially.MobileApps.Services/Socially.MobileApps.Services.csproj
  src/Socially.MobileApps.ViewModels/Socially.MobileApps.ViewModels.csproj
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
  src/Socially.MobileApps/Socially.MobileApps.iOS/Socially.MobileApps.iOS.csproj
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

cleaned up input logic
  src/Socially.MobileApps.ViewModels/SignUpViewModel.cs
  src/Socially.MobileApps.ViewModels/ViewModelBase.cs
Due: none

updated android
  src/Socially.MobileApps.ViewModels/SignUpViewModel.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Properties/AndroidManifest.xml
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
Due: none

removed unwanted files
  pipelines/linux.service
  pipelines/webAPI3.yaml
Due: pipelines/webAPI.yaml

something android
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
Due: none

undid the hot reload
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
Due: none

android pipeline setup
  .gitignore
  .vscode/settings.json
  pipelines/android.yaml
  pipelines/webAPI.yaml
  src/Socially.MobileApps/Socially.MobileApps.Android/Properties/AndroidManifest.xml
  src/Socially.MobileApps/Socially.MobileApps/Configs.cs
Due: pipelines/webAPI.yaml

app outside look clean up
  pipelines/android.yaml
  src/Socially.MobileApps/Socially.MobileApps.Android/MainActivity.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Properties/AndroidManifest.xml
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/drawable/logo.png
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
Due: none

use dotnet
  pipelines/android.yaml
Due: none

use dotnet condition
  pipelines/android.yaml
Due: none

pending changes for yaml
  pipelines/android.yaml
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
Due: none

fixed configs
  pipelines/android.yaml
Due: none

android pipeline setup
  README.md
Due: none

updated nugets
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Server.Services/Socially.Server.Services.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Socially.WebAPI.csproj
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

qr code for android
  README.md
Due: none

solution rename
  src/Socially Apps.sln
Due: none

fixed sln in yaml
  pipelines/android.yaml
Due: none

updated all nugets
  global.json
  src/Socially.Core/Socially.Core.csproj
  src/Socially.MobileApps.Models/Socially.MobileApps.Models.csproj
  src/Socially.MobileApps.ViewModels/Socially.MobileApps.ViewModels.csproj
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
  src/Socially.MobileApps/Socially.MobileApps.iOS/Socially.MobileApps.iOS.csproj
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Server.Services/Socially.Server.Services.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Socially.WebAPI.csproj
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

Path conditions:
  pipelines/api-CI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI
  pipelines/webAPI.yaml: any of: src/Socially.Core, src/Socially.Server.DataAccess, src/Socially.Server.Services, src/Socially.WebAPI, pipelines/webAPI.yaml, pipelines/linux.service
