Repository neville-nazerane/Socially: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-CI.yaml, pipelines/webAPI.yaml

pipelines/api-CI.yaml:

# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

pool:
  vmImage: 'ubuntu-18.04'

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - src/Socially.Core
      - src/Socially.Server.DataAccess
      - src/Socially.Server.Services
      - src/Socially.WebAPI



steps:

- task: UseDotNet@2
  displayName: 'Use .NET Core sdk'
  inputs:
    packageType: sdk
    version: 5.0.100-preview.2.20176.6
    installationPath: $(Agent.ToolsDirectory)/dotnet

- task: DotNetCoreCLI@1
  displayName: 'Tests for API'
  inputs:
    command: 'test'
    projects: |
      src/Socially.Server.Managers.Tests
      src/Socially.WebAPI.IntegrationTests
    arguments: '-c Release'

- script: 'dotnet publish src/Socially.WebAPI -c Release -o $(Build.ArtifactStagingDirectory)'
  displayName: 'Publish API'


- task: PublishBuildArtifacts@1
  displayName: 'Prep for release'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

pipelines/webAPI.yaml:

pool:
  vmImage: 'ubuntu-latest'

resources:
  repositories:
    - repository: templates
      type: github
      name: neville-nazerane/Common-Pipelines
      endpoint: github.com_neville-nazerane

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - src/Socially.Core
      - src/Socially.Server.DataAccess
      - src/Socially.Server.Services
      - src/Socially.WebAPI
      - pipelines/webAPI.yaml

extends:
  template: Shared\netcore-ubuntu.yml@templates
  parameters:
    usePreRelease: true
    projectPath: src/Socially.WebAPI
    tempFolderName: sociallyTemp
    projectName: Socially.WebAPI
    destDirectory: \/var\/www\/socially
    port: 5030

    service:
      description: Socially API
      identifier: sociallyAPI
      name: kestrel-socially
    configs:
      ASPNETCORE_ENVIRONMENT: Production
      connectionStrings__db: $(Secrets.Db)
    preBuildSteps:
      - script: 'dotnet test src/Socially.Server.Managers.Tests -c release'
        displayName: 'Unit Test - Managers'

      - script: 'dotnet test src/Socially.WebAPI.IntegrationTests -c release'
        displayName: 'Integration Tests'

delete unwanted global
  global.json
Due: none

updated display name for manager unit test
  pipelines/webAPI.yaml
Due: pipelines/webAPI.yaml

temp cleanup of login
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
  src/Socially.Server.Services/IUserService.cs
  src/Socially.Server.Services/UserService.cs
  src/Socially.WebAPI/Controllers/AccountController.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

http context extensions
  src/Socially.WebAPI.IntegrationTests/BasicTest.cs
  src/Socially.WebAPI/Controllers/AccountController.cs
  src/Socially.WebAPI/EndpointUtils/EndpointMultiConvention.cs
  src/Socially.WebAPI/EndpointUtils/HttpContextQueryExtensions.cs
  src/Socially.WebAPI/EndpointUtils/HttpContextRouteExtensions.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

started validation
  src/Socially.WebAPI/EndpointUtils/HttpContextModelExtensions.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

base endpoint setup
  src/Socially.WebAPI/EndpointUtils/EndpointsBase.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Properties/launchSettings.json
  src/Socially.WebAPI/Socially.WebAPI.csproj
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

endpoints setup
  src/Socially.WebAPI/EndpointUtils/CustomEndpointExtensions.cs
  src/Socially.WebAPI/EndpointUtils/EndpointsBase.cs
  src/Socially.WebAPI/EndpointUtils/EndpointsBase2.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.WebAPI/Startup.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

started up with endpoints
  src/Socially.WebAPI/Controllers/AccountController.cs
  src/Socially.WebAPI/EndpointUtils/HttpContextServiceExtensions.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

fixed controller
  src/Socially Web.sln
  src/Socially.WebAPI/Controllers/AccountController.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

error validation
  src/Socially.Core/Models/ErrorModel.cs
  src/Socially.WebAPI/EndpointUtils/HttpContextModelExtensions.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Exceptions/BadRequestException.cs
  src/Socially.WebAPI/Middlewares/CustomExceptionOptions.cs
  src/Socially.WebAPI/Startup.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

account endpoints
  src/Socially Web.sln
  src/Socially.Core/Exceptions/BadRequestException.cs
  src/Socially.Server.Services/IUserService.cs
  src/Socially.Server.Services/UserService.cs
  src/Socially.WebAPI/EndpointUtils/HttpContextModelExtensions.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Middlewares/CustomExceptionOptions.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

converted to endpoint routing
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
  src/Socially.WebAPI/Controllers/AccountController.cs
  src/Socially.WebAPI/EndpointUtils/HttpContextModelExtensions.cs
  src/Socially.WebAPI/EndpointUtils/HttpContextResponseExtensions.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Startup.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

cleanup for controllers
  src/Socially.WebAPI/EndpointUtils/EndpointsBase.cs
  src/Socially.WebAPI/EndpointUtils/MultiEndpointConventionBuilder.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Startup.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

apps using error messages
  src/Socially.Core/Socially.Core.csproj
  src/Socially.MobileApps.Contracts/Socially.MobileApps.Contracts.csproj
  src/Socially.MobileApps.Models/ApiResponse.cs
  src/Socially.MobileApps.Models/Socially.MobileApps.Models.csproj
  src/Socially.MobileApps.Services/ApiConsumer.cs
  src/Socially.MobileApps.Services/Utils/HttpExtensions.cs
  src/Socially.MobileApps.ViewModels/SignUpFlowViewModel.cs
  src/Socially.MobileApps.ViewModels/SignUpViewModel.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

updated to bas64 image
  README.md
Due: none

rolled back base64
  README.md
Due: none

appcenter setup
  pipelines/android.yaml
  src/Socially.MobileApps/Socially.MobileApps/App.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Configs.cs
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Properties/launchSettings.json
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

signup page cleanup
  src/Socially.MobileApps/Socially.MobileApps/App.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Images/insta.png
  src/Socially.MobileApps/Socially.MobileApps/Images/showicon.png
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
Due: none

signup page cleanup
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
Due: none

icons setup
  src/Socially.MobileApps/Socially.MobileApps/App.xaml
  src/Socially.MobileApps/Socially.MobileApps/Controls/Fonts.cs
  src/Socially.MobileApps/Socially.MobileApps/FontIcons/fa-brands-400.ttf
  src/Socially.MobileApps/Socially.MobileApps/FontIcons/fa-regular-400.ttf
  src/Socially.MobileApps/Socially.MobileApps/FontIcons/fa-solid-900.ttf
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
Due: none

updated with fonts
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
  src/Socially.MobileApps/Socially.MobileApps/App.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/MainPage.xaml
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpFlowPage.xaml
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
Due: none

updated nugets
  src/Socially.MobileApps.Models/Socially.MobileApps.Models.csproj
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
  src/Socially.MobileApps/Socially.MobileApps.iOS/Socially.MobileApps.iOS.csproj
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
Due: none

no instance for theme control
  src/Socially.MobileApps.Contracts/IThemeControl.cs
  src/Socially.MobileApps/Socially.MobileApps/App.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Config/ThemeControl.cs
Due: none

fixed status code sequence
  src/Socially.WebAPI/EndpointUtils/HttpContextModelExtensions.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

cancellation
  src/Socially.WebAPI/EndpointUtils/HttpContextModelExtensions.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

bad request overloads
  src/Socially.Core/Exceptions/BadRequestException.cs
  src/Socially.MobileApps.Services/Socially.MobileApps.Services.csproj
  src/Socially.MobileApps.ViewModels/SignUpViewModel.cs
  src/Socially.MobileApps/Socially.MobileApps/Pages/LoginPage.xaml
  src/Socially.MobileApps/Socially.MobileApps/Pages/SignUpPage.xaml
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Properties/launchSettings.json
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

sign up errors
  src/Socially.Core/Exceptions/BadRequestException.cs
  src/Socially.Core/Models/ErrorModel.cs
  src/Socially.Server.Services/IUserService.cs
  src/Socially.Server.Services/UserService.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

updated to .net 6 previews
  src/Socially.Core/Socially.Core.csproj
  src/Socially.MobileApps.Services/Socially.MobileApps.Services.csproj
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Server.Managers/Socially.Server.Managers.csproj
  src/Socially.Server.Services/Socially.Server.Services.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Socially.WebAPI.csproj
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

fixed 400 errors
  src/Socially.WebAPI/EndpointUtils/HttpContextModelExtensions.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

fixed username message
  src/Socially.Server.Services/UserService.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

login error message
  src/Socially.Server.Services/UserService.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

new bad request setup
  src/Socially.MobileApps.Services/Exceptions/ErrorForClientException.cs
  src/Socially.MobileApps.Services/HttpServices/ApiConsumer.cs
  src/Socially.MobileApps.Services/HttpServices/ApiHttpHandler.cs
  src/Socially.MobileApps.Services/HttpServices/IApiConsumer.cs
  src/Socially.MobileApps.Services/Utils/HttpExtensions.cs
  src/Socially.Server.Services/IUserService.cs
  src/Socially.Server.Services/Socially.Server.Services.csproj
  src/Socially.Server.Services/UserService.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.WebAPI/Startup.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

patch up signup
  src/Socially.MobileApps.Services/HttpServices/ApiConsumer.cs
  src/Socially.MobileApps.ViewModels/SignUpFlowViewModel.cs
  src/Socially.MobileApps.ViewModels/SignUpViewModel.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
  src/Socially.MobileApps/Socially.MobileApps/App.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Controls/Fonts.cs
Due: none

version updates
  src/Socially.Core/Socially.Core.csproj
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Services/Socially.Server.Services.csproj
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.WebAPI/Startup.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

clean up API setup
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Middlewares/CustomExceptionOptions.cs
  src/Socially.WebAPI/Program.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

controller clean up
  src/Socially.Core/Socially.Core.csproj
  src/Socially.MobileApps.Services/Socially.MobileApps.Services.csproj
  src/Socially.Server.DataAccess/Socially.Server.DataAccess.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.Server.Services/Socially.Server.Services.csproj
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
  src/Socially.WebAPI.IntegrationTests/BasicTest.cs
  src/Socially.WebAPI.IntegrationTests/CustomWebApplicationFactory.cs
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.WebAPI/Program.cs
  src/Socially.WebAPI/Socially.WebAPI.csproj
  src/Socially.WebAPI/Startup.cs
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

mobile setup attempts
  src/Socially.Core/Socially.Core.csproj
  src/Socially.MobileApps.Services/Socially.MobileApps.Services.csproj
  src/Socially.MobileApps.ViewModels/RegisterViewModel.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Resources/Resource.designer.cs
  src/Socially.MobileApps/Socially.MobileApps.Android/Socially.MobileApps.Android.csproj
  src/Socially.MobileApps/Socially.MobileApps.iOS/Socially.MobileApps.iOS.csproj
  src/Socially.MobileApps/Socially.MobileApps/Pages/RegisterPage.xaml
  src/Socially.MobileApps/Socially.MobileApps/Pages/RegisterPage.xaml.cs
  src/Socially.MobileApps/Socially.MobileApps/Socially.MobileApps.csproj
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

merged flow
  src/Socially.Core/Socially.Core.csproj
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml

web app setup
  src/Socially.Apps.Consumer/ApiConsumer.cs
  src/Socially.Apps.Consumer/IApiConsumer.cs
  src/Socially.Apps.Consumer/Socially.Apps.Consumer.csproj
  src/Socially.Server.Managers.Tests/Socially.Server.Managers.Tests.csproj
  src/Socially.WebAPI.IntegrationTests/Socially.WebAPI.IntegrationTests.csproj
  src/Socially.Website/App.razor
  src/Socially.Website/Pages/Counter.razor
  src/Socially.Website/Pages/FetchData.razor
  src/Socially.Website/Pages/Index.razor
  src/Socially.Website/Program.cs
  src/Socially.Website/Properties/launchSettings.json
  src/Socially.Website/Shared/MainLayout.razor
  src/Socially.Website/Shared/MainLayout.razor.css
  src/Socially.Website/Shared/NavMenu.razor
  src/Socially.Website/Shared/NavMenu.razor.css
  src/Socially.Website/Shared/SurveyPrompt.razor
  src/Socially.Website/Socially.Website.csproj
  src/Socially.Website/_Imports.razor
  src/Socially.Website/wwwroot/appsettings.Local.json
  src/Socially.Website/wwwroot/css/app.css
  src/Socially.Website/wwwroot/css/bootstrap/bootstrap.min.css
  src/Socially.Website/wwwroot/css/bootstrap/bootstrap.min.css.map
  src/Socially.Website/wwwroot/css/open-iconic/FONT-LICENSE
  src/Socially.Website/wwwroot/css/open-iconic/ICON-LICENSE
  src/Socially.Website/wwwroot/css/open-iconic/README.md
  src/Socially.Website/wwwroot/css/open-iconic/font/css/open-iconic-bootstrap.min.css
  src/Socially.Website/wwwroot/css/open-iconic/font/fonts/open-iconic.eot
  src/Socially.Website/wwwroot/css/open-iconic/font/fonts/open-iconic.otf
  src/Socially.Website/wwwroot/css/open-iconic/font/fonts/open-iconic.svg
  src/Socially.Website/wwwroot/css/open-iconic/font/fonts/open-iconic.ttf
  src/Socially.Website/wwwroot/css/open-iconic/font/fonts/open-iconic.woff
  src/Socially.Website/wwwroot/favicon.ico
  src/Socially.Website/wwwroot/icon-192.png
  src/Socially.Website/wwwroot/index.html
  src/Socially.Website/wwwroot/sample-data/weather.json
  src/Socially.sln
Due: none

login logout!!
  src/Socially Web.sln
  src/Socially Website.sln
  src/Socially.Apps.Consumer/ApiConsumer.cs
  src/Socially.Apps.Consumer/Exceptions/ErrorForClientException.cs
  src/Socially.Apps.Consumer/IApiConsumer.cs
  src/Socially.Apps.Consumer/Services/ApiConsumer.cs
  src/Socially.Apps.Consumer/Services/IApiConsumer.cs
  src/Socially.Apps.Consumer/Socially.Apps.Consumer.csproj
  src/Socially.Apps.Consumer/Utils/ApiHttpHandler.cs
  src/Socially.Server.Services/UserService.cs
  src/Socially.WebAPI.IntegrationTests/AccountTests.cs
  src/Socially.WebAPI/Endpoints/AccountEndpoints.cs
  src/Socially.WebAPI/Program.cs
  src/Socially.Website/App.razor
  src/Socially.Website/Pages/Login.razor
  src/Socially.Website/Pages/Login.razor.cs
  src/Socially.Website/Program.cs
  src/Socially.Website/Shared/EmptyLayout.razor
  src/Socially.Website/Socially.Website.csproj
  src/Socially.Website/_Imports.razor
  src/Socially.Website/wwwroot/index.html
Due: pipelines/api-CI.yaml, pipelines/webAPI.yaml
